<div id="contact">
	<h2>Contact</h2>
	<p>
		This contact form will send an email to me so feel free to use it at your discretion! Contact me for any freelance web development, graphic design or programming related jobs or contracts you might have available.
	</p>
	<% render partial: "partials/contact_form" %>
	<% render partial: "partials/contact_info" %>
</div>