<div id ="contactInfo">
    <p>
	Feel free to contact me through social networking or by phone as well!
	</p>
	<p>
	<span class="bolder">Twitter</span> [@pro_prog]
	</p>
	<p>
	My cell is on me pretty much all the time!
	</p>
	<p class="bolder">
    (435)850-9786
	</p>
	<p>
	If for some reason I don't answer feel free to leave me a message, thanks!
	</p>
</div>