<div id="contactForm">

<%= form_for @message, :url => contact_path do |form| %>
 
  <fieldset class="actions">
    <%= form.submit "Send", { :class => 'btn btn-default pull-right' } %>
  </fieldset>

  <fieldset class="fields">
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, { :class => 'form-control' } %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, { :class => 'form-control' }  %>
    </div>
    <div class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject, { :class => 'form-control' }  %>
    </div>
    
    <div class="field contact-body">
      <%= form.label :body %>
      <%= form.text_area :body, { :class => 'form-control' }  %>
    </div>
  </fieldset>
<% end %>
</div>