<div id="slideShow">
	<div class="slide" ng-model="selectedSlide">
		<a id="slider-link" ng-href="{{ selectedSlide.link }}"><img id="slider-image" ng-src="{{ selectedSlide.image }}"/></a>
		<h1 id="slider-header">
			<img id="sliderLeftArrow" ng-click="previousSlide()") /> 
			{{ selectedSlide.header }}
			<img id="sliderRightArrow" ng-click="nextSlide()") /> 
		</h1>
		<p id="slider-content">{{ selectedSlide.content }}</p>
	</div>
</div>
