<% unless Monologue::Config.twitter_username.nil? %>
  <div class='twitter-sidebar' style="height: 40vh !important; overflow: auto;">
	<a class="twitter-timeline" href="https://twitter.com/illegalnumbers">Tweets by illegalnumbers</a>
  </div>
   <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<% end %>