<!-- Section : clients -->
<section id="clients" class="section">
  <div class="container">

    <div class="section-title">
      <h2>Clients</h2>
      <span class="border"></span>
    </div>
    <!-- end .section-title -->

    <div class="row">
      <div id="testimonials" class="owl-carousel owl-theme">
        <div class="item">
          <div class="box testimonials">
            <%= image_tag 'hoasmall.jpg' %>
            <blockquote>
              <p>
                I first met Ben during our final year at the University of Utah, working together on our senior capstone project.During the course of the year, Ben proved himself to be a dependable
                developer and teammate. He is a hard worker with excellent problem solving abilities and an inquisitive engineering mind, which is vital for any project. Our senior project was
                successful owing in large part to the great leadership and technical expertise Ben provided.
                Most importantly Ben is always an easygoing person. He is keenly devoted to his work, while also being enjoyable to be around. A rare talent that I believe makes him a perfect fit for
                any team.
              </p>
            </blockquote>
            <div class="author">Hoa Hoang</div>
          </div>
          <!-- end .box .testimonials -->
        </div>
        <!-- end .item -->
        <div class="item">
          <div class="box testimonials">
            <%= image_tag 'mikesmall.jpg' %>

            <blockquote>
              <p>I worked with Ben both academically and professionally. Together we worked on an NLP project at the University of Utah around co-reference resolution - essentially a way to detect
                when nouns in current sentences actually reference nouns in preceding sentences (Mary walks to the store. She loves doing that. She referencing Mary through agreement etc). Ben's
                contribution to this project were enormous, a lot of the scoring algorithm ideas were his as well as the coding. Our accuracy was in the top four in the class out of sixteen or
                seventeen teams.

                I also worked with Ben at Health Catalyst. He became a competent C# developer in very little time and adjusted to our code base well.

                I recommend Ben as an intelligent, effective developer who is great to work with.</p>
            </blockquote>
            <div class="author">Mike Roylance</div>
          </div>
          <!-- end .box .testimonials -->
        </div>
        <!-- end .item -->
        <div class="item">
          <div class="box testimonials">
            <%= image_tag 'ryansmall.jpg' %>
            <blockquote>
              <p>A few years ago, a friend and I had an idea for a website business. We contacted a department at the University of Utah to solicit our need for a website developer. We met with a few
                different people and ended up choosing Ben, Tucker [McKnight] and Carlos [Brenneisen]. These three stood out to us the most because of their past work and apparent passion for website
                development and design. We also knew that they would be reliable and dependable.

                We met on a weekly basis to discuss our ideas for the website. Each time we met, Ben, Tucker [McKnight] and Carlos [Brenneisen] had made significant progress, and the development was
                always in line with our vision.

                We were very impressed with the final product. These three were great to work with, and we wouldn't hesitate to work with them again on future endeavors. </p>
            </blockquote>
            <div class="author">Ryan Harris</div>
          </div>
          <!-- end .box .testimonials -->
        </div>
        <!-- end .item -->
      </div>
      <!-- end #testimonials -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- Section : Clients end-->