<!-- Section : skills -->
<section id="skills" class="section">
  <div class="container">

    <div class="section-title">
      <h2>Skill</h2>
      <span class="border"></span>
    </div>
    <!-- end .section-title -->


    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="90"><p>90<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>RAILS</h3>

          <p>The elegance and magic of Rails made web development fun.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

     <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
          <div class="chart" data-percent="70"><p>70<sup>%</sup></p></div>
          <div class="skills-content">
            <h3>PYTHON</h3>

            <p>Working on OSS, ML, AI and data mining projects on the side.</p>
          </div>
          <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="83"><p>83<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>JAVASCRIPT</h3>

          <p>ES6. TypeScript. React. Redux. AngularJS. KnockoutJS. NodeJS. Ionic. Experience with it all.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="69"><p>69<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>Java</h3>

          <p>Old faithful.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
    </div>
    <!-- end .row -->

  </div>
  <!-- end .container -->
</section>
<!-- Section : skills end-->