@font-face {
    font-family: roboto-light;
    src: url("fonts/Roboto-Thin.ttf");
}

html{
    overflow-y: scroll;
    overflow-x: hidden;    
}
body { 
    font-family: roboto-light, Helvetica, Arial, sans-serif; 
    font-size: 16px; 
    color: #000;
    background-color: #FFFFFF; 
    font-weight: 300;
}
a ,a:hover, a:focus{ 
    text-decoration: none;
    outline:none;
}
.clear { clear: both; }
.ui-tabs-hide { display: none; }
br.clear { margin: 0px; padding: 0px; }
hr{margin: 10px 0;}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto-light, Helvetica, Arial, sans-serif; 
    padding-bottom: 5px; 
    color: #373432; 
    line-height: 1em; 
    font-weight: bold;
 }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #111; }
/*
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
*/
p { 
    padding-bottom: 10px;
    line-height: 25px; 
}
strong { font-weight: bold; color: #1c1c1c; }
cite, em, i { font-style: italic; }
pre, code { font-family: Courier New, monospace; margin-bottom: 10px; }
ins { text-decoration: none; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd  { margin-left: 1.5em;}
blockquote  { margin: 1.5em; padding: 1em; color: #666666; background: #e6e6e6; font-style: italic; border: 1px solid #dcdcdc; }
    blockquote p { padding-bottom: 0px; }

input[type=text],input.text, input.title, textarea, select { background-color:#FFFFFF; border:1px solid #bbb; padding: 2px; color: #4e4e4e; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#2D3940; color: #3e3e3e; }
input[type=text], input.text, input.title, textarea, select { margin:0.5em 0; }
textarea { padding: 4px; }

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
ul, ol{margin: 0px;}
a:focus{
    outline: none;
}
.left {
    float: left;
}
.right{
    float: right;
}
blockquote{
    background: none;
    border: none;
    font-style: normal;
}
blockquote p {
    font-size: 17.5px;
    font-weight: bold;
    line-height: 30px;
}
.row [class^="col-"]:last-child .work_process:before{
    display: none;
}
.work_process:before {
    font-family: FontAwesome; 
    font-weight: normal;
    text-align: left; 
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
}    
#navbar{
    background-color: #000;
}
.scroll-top {
    background: none repeat scroll 0 0 #222222;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    bottom: 30px;
    color: #ffffff;
    display: none;
    font-size: 24px;
    height: 60px;
    line-height: 60px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 60px;
    z-index: 9999;
    outline: none;
}
.btn{
    background-image: none;
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: none;   
    font-weight: bold;  
}

.btn:hover,.btn:focus{
    color: #FFFFFF;
}
.btn i {
    display: inline-block;
    margin-left: 0;
    margin-right: 12px;
}
a.mt-button {
    border-radius:3px;
    -moz-border-radius:3px; 
    -webkit-border-radius:3px; 
    -o-border-radius:3px; 
    -ms-border-radius:3px;   
    letter-spacing:0;
    text-transform:uppercase;
    display:inline-block;   
}
a.hire-btn{
    background-color: #e74c3c;
    color: #FFFFFF;
    font-family: 'Raleway', Helvetica, Arial, sans-serif; 
    font-size: 14px;
    font-weight: bold;
    padding: 17px 52px;
    margin-top: 60px;
}
a.hire-btn:hover{
    color: #FFFFFF;
}
.small {
    font-size:12px;
    line-height:14px;
    padding:5px 9px 7px 9px;
    line-height:12px;
}
.medium {
    font-size:14px;
    line-height:14px;
    padding:10px 15px;
    line-height:14px;
}
.large {
    font-size:16px;
    line-height:14px;
    padding:15px 25px;
    line-height:16px
}
.grey {
    color:#FFFFFF;
}       
.grey:hover {
    color:#FFFFFF;
}
.color {
    color:#FFFFFF;
}
.color:hover {
    color:#FFFFFF;
}
.outline {
    background-color:none;
    color:#222222;
    line-height:10px!important;
}       
.rounded {
    border-radius:50px!important;
}
.social { padding:0; margin:2em 0; list-style:none; text-align: center;}
.social li { display:inline-block; padding:0; margin-bottom: 3px; }
.social li a { 
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    opacity: .6;
    background: transparent;
    display: block;
    font-family: 'fontello';
    font-size: 15px;
    height: 36px;
    width: 36px;
    line-height: 34px;
    margin: 0 0.1em 0.2em 0;
    padding: 0;
    text-align: center;
}

.social li a.facebook:before { content: '\e800'; }
.social li a.twitter:before { content: '\e801'; }
.social li a.flickr:before { content: '\e810'; }
.social li a.rss:before { content: '\e80b'; }
.social li a.dribble:before { content: '\e806'; }
.social li a.lastfm:before { content: '\e80a'; }
.social li a.linkedin:before { content: '\e802'; }
.social li a.vimeo:before { content: '\e80c'; }
.social li a.google:before { content: '\e84d'; }
.social li a.forrst:before { content: '\e80d'; }
.social li a.skype:before { content: '\e812'; }
.social li a.picassa:before { content: '\e8e0'; }
.social li a.youtube:before { content: '\e813'; }
.social li a.tumblr:before { content: '\e815'; }
.social li a.behance:before { content: '\e868'; }
.social li a.blogger:before { content: '\e80f'; }
.social li a.delicious:before { content: '\e80f'; }
.social li a.digg:before { content: '\e807'; }
.social li a.friendfeed:before { content: '\e867'; }
.social li a.github:before { content: '\e805'; }
.social li a.wordpress:before { content: '\e816'; }
.social li a.pinterest:before { content: '\e804'; } 
.social li a.instagram:before { content: '\e80e'; }

/* social icon hovers */
.social li a.facebook { 
    background-color:#3c5fac;
    opacity: 1; 
    border-color: #3c5fac; 
}
.social li a.twitter  { 
    background-color:#5ec3df; 
    opacity: 1; 
    border-color: #5ec3df; 
}
.social li a.flickr  { 
    background-color:#FF0084; 
    opacity: 1; 
    border-color: #FF0084; 
}
.social li a.rss  { 
    background-color:#ff9900; 
    opacity: 1; 
    border-color: #ff9900; 
}
.social li a.dribble  { 
    background-color:#EA4C89; 
    opacity: 1; 
    border-color: #EA4C89; 
}
.social li a.lastfm  { 
    background-color:#D51007; 
    opacity: 1; 
    border-color: #D51007; 
}
.social li a.linkedin  { 
    background-color:#2089b5; 
    opacity: 1; 
    border-color: #2089b5; 
}
.social li a.vimeo  { 
    background-color:#0dadd6; 
    opacity: 1; 
    border-color: #0dadd6; 
}
.social li a.google  { 
    background-color:#c63d2d; 
    opacity: 1; 
    border-color: #c63d2d; 
}
.social li a.forrst  { 
    background-color:#5b9a68; 
    opacity: 1; 
    border-color: #5b9a68; 
}
.social li a.skype  { 
    background-color:#00aff0; 
    opacity: 1; 
    border-color: #00aff0; 
}
.social li a.picassa  { 
    background-color:#ffd34e; 
    opacity: 1; 
    border-color: #ffd34e; 
}
.social li a.youtube  { 
    background-color:#c8312b; 
    opacity: 1; 
    border-color: #c8312b; 
}
.social li a.pinterest  { 
    background-color:#cb2027; 
    opacity: 1; 
    border-color: #cb2027; 
}
.social li a.tumblr  { 
    background-color: #2C4762;
    opacity: 1; 
    border-color: #2C4762; 
}
.social li a.behance  { 
    background-color: #3878F6;
    opacity: 1; 
    border-color: #3878F6; 
}
.social li a.blogger  { 
    background-color: #fc9947;
    opacity: 1; 
    border-color: #fc9947; 
}
.social li a.delicious  { 
    background-color: #3274d1;
    opacity: 1; 
    border-color: #3274d1; 
}
.social li a.digg  { 
    background-color: #205891;
    opacity: 1; 
    border-color: #205891; 
}
.social li a.friendfeed  {
    background-color: #2f72c4;
    opacity: 1; 
    border-color: #2f72c4; 
}
.social li a.github  {
    background-color: #000000;
    opacity: 1; 
    border-color: #000000; 
}
.social li a.wordpress  {
    background-color: #0083b3;
    opacity: 1; 
    border-color: #0083b3; 
}
.social li a.instagram  {
    background-color:#3f729b; 
    opacity: 1; 
    border-color: #3f729b; 
}
#header {
    display: block;
    position: fixed;
    left: 58px;
    top: 0;
    width: 242px;
    height: auto;
    text-align: center;
    z-index: 998;
}

#header .logo-wrapper {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}

.logo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);    
    margin: 0 auto;
}
#header .social{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}
#open-nav.nav-full{
    margin-top: 50px;
    width: 242px;
    height: 62px;
    text-align: left;
}
#open-nav.nav-full .nav-menu{
    margin-left: 42px;
    line-height: 62px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Raleway', Helvetica, Arial, sans-serif; 
}
#open-nav.nav-full:before{
    float: right;
    line-height: 62px;
    margin-right: 20px;
}
#open-nav.nav-half{
    float: right;;
    width: 60px;
    height: 60px;
    font-size: 18px;
    line-height: 62px;
    margin-top: 50px;
    cursor: pointer;
}
.navone, .nav-menu{
    display: none;
}
#open-nav.open-navs {
    position: absolute;
    display: block;
    padding: 0;
    width: 242px;
    top: 2%;
    right: -70px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    transition:         all 0.2s;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
    line-height: 62px;

}
#open-nav > img{
    margin-left: 20px;
}
#open-nav:hover {
    cursor: pointer;
}
.navone {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    background-color: rgba(26,26,26,.6);
}
.navone li {
    margin: 0 auto;
    border-bottom: dashed 1px #4d4d4d;
    width: 65%;
    text-align: left;
    padding: 20px 0;
}
.navone li:last-child{
    margin-bottom: 35px;
}
.navone li a {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition:    all 0.3s;
    -o-transition:      all 0.3s;
    transition:         all 0.3s;
}
.main-menu-continer{
    min-height: 80px;
}
.sticky-wrapper.is-sticky .main-menu-continer {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
    z-index: 10;
}
.navbar-default {
    background: none repeat scroll 0 0 #ffffff;
    border-color: #ffffff;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    clear: both;
}
.header-logo {
    position: relative;
    display: inline-block;
}
#bs-example-navbar-collapse-1 {
    padding: 8px;
}

.navbar-fixed-top, .navbar-fixed-bottom{
    position: absolute; 
}
.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    height: 80px;
}

.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
    max-height: 430px; /* change as needed */
}
.navbar-nav > li > a{
    padding-bottom: 28px;
}
.navbar-nav {
    float: right;
    margin-top: 10px;
}
.navbar-nav>li{
    position: relative;
}
.navbar-nav > li > a {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    outline: none;
    color: #ffffff;
}
.navbar-nav>li>a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 0px;
    background:transparent;
}

.navbar-nav>li.menu-item-has-children>a:after{
    height: 0!important;
}

ul.nav > li > a:hover {
    background-color: #000000;
    color: #FFFFFF;
    border-style: none;
}

.navbar-nav>li .sub-menu,
.navbar-nav>li .sub-menu>li>a,
.navbar-nav>li .sub-menu>li .sub-menu,
.navbar-nav>li>a:after {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.navbar-nav>li.menu-item-has-children{
    padding-right: 15px;
}
.navbar-nav>li.menu-item-has-children:before,
.sub-menu>li.menu-item-has-children:before {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-nav>li .sub-menu{
    position: absolute;
    list-style: none;
    padding: 0;
    top: 130%;
    left: 0;
    min-width: 160px;
    height:0;
    overflow: hidden;
    opacity: 0;
    z-index: 999;
}
.navbar-nav>li:hover .sub-menu{
    height: auto;
    opacity: 1;
    overflow: visible;
    top: 100%;
}
.navbar-nav > li .sub-menu > li > a {
    background: none repeat scroll 0 0 #161e2b;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    line-height: 25px;
    min-width: 100%;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-nav>li .sub-menu>li{
    position: relative;
}
.navbar-nav>li .sub-menu>li .sub-menu{
    position: absolute;
    list-style: none;
    padding: 0;
    top: 0;
    left: 130%;
    width: 0;
    height:auto;
    opacity: 0;
}
.navbar-nav>li .sub-menu>li:hover .sub-menu{
    opacity: 1;
    overflow: visible;
    width: 160px;
    left: 100%;
}
.toggle_nav_button {
    display: none;
}
.section{
    padding: 150px 0;
    position: relative;
}
.about-style1 .section-title{
    margin-top: 178px;
    text-align: center; 
    margin-bottom: 50px;
}
.about-style2 .section-title{
    text-align: center; 
    margin-bottom: 50px;
}
.section-title{
    text-align: center;
}
.section-title h2{
    text-transform: uppercase;
    color: #2c3d4f;
    font-weight: 800;
    letter-spacing: 5px;
    line-height: 60px;
    font-size: 60px;
}

.border {
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
}

.section-title p{
    color: #7e868e;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}
.section-title p span {
    font-weight: bold;
    color: #7e878f; 
}
.parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
}
.parallax-overlay-2 {
    background-color:rgba(0,0,0,0.75);
}
.parallax .container{
  padding: 145px 20px;
}
.parallax .title{
    margin-bottom: 80px;
}
.parallax .title h1{
    text-transform: uppercase;
    color: #FFFFFF;
}
.parallax .title i {
    border: 4px solid;
    border-radius: 60px;
    cursor: pointer;
    font-size: 34px;
    padding: 16px;
}
.parallax h1 ,.parallax h2,.parallax h2,.parallax p{
    color: #FFFFFF;
}
.parallax .border {
    display: block;
    height: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100px;
    margin: 0 auto;
}

.parallax .outline {
    background-color:none;
    border:2px solid #FFFFFF;
    color:#FFFFFF;
    line-height:10px!important;
}       
.parallax .outline:hover {
    background-color:#FFFFFF;
    color:#222;
}

#status{
    /*background-image: url('http://placehold.it/1920x1024');*/
}
#wprocess{
    /*background-image: url('http://placehold.it/1920x1024');*/
}
#hire{
    /*background-image: url('http://placehold.it/1920x1024');*/
}
#qoutes{
    /*background-image: url('http://placehold.it/1920x1024');*/
}
#home{
    /*background: url('http://placehold.it/1920x1024');*/
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;      
}
.home-parallax {  
}
.home-parallax .container{
  padding: 145px 20px;
}
.home-overlay {
    background: url(image_path("me.jpg")) no-repeat center center scroll;
    background-size: cover;
    height: 100%;
    min-height: 900px;
    position: relative;
}

.home-overlay-v2{
    background:repeat scroll 0 0 rgba(53,60,79,.8);
    height: 100%;
    min-height: 845px;
    position: relative;
}
.logo{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    cursor: default;
    margin: 0 auto;
}

.info{
    margin-top: 80px;
    bottom: 0;
}
.info > h2{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 90px;
}
.info > h3{
    color: #FFFFFF;
    font-weight: 800;
    font-size: 33px;
}
.avatar-section{
    margin: 0 auto;
    text-align: center;
    bottom: -235px;
    width: 100%;
    display: block;
}
.avatar-section img{
    margin: 0 auto;    
}

.avatar-section img {
    border: 10px solid #eff0f4;
    border-radius: 250px;
    height: 460px;
    margin: 0 auto;
    width: 460px;
}

.img-about{
    display: block;
    height: auto;
    margin-top: 24px;
    max-width: 100%;
        box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);  
}
.about-info .info-title p, .about-info .info-details p{
    color: #7e868e;
    font-size: 16px;
    padding-bottom: 0;
}
.about-info .info-title{
    float: left;
    margin-right: 20px;
    font-weight: bold;
}
.about-info p.about-signature{
    color: #2c3e50;
    font-family: 'Arizonia', cursive;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-extra h4{
    color: #7e868e;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
.about-extra-icon ul{
    padding: 0;
}
.about-extra-icon ul li{
    display: inline-block;
    float: left;
    margin: 0 36px 10px 0;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #f1f1f1;
}
.about-extra-icon ul li p{
    color: #7e868e;
    font-size: 16px;
    text-align: center;
    padding-top: 35px;
    font-weight: 500;
}
.about-extra-icon ul li p i{
    font-size: 36px;
}


.about-extra-icon-style2 ul{
    padding: 0;
}
.about-extra-icon-style2 ul li {
    background-color: #f1f1f1;
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
    width: 100px;
}
.about-extra-icon-style2 ul li p {
    color: #7e868e;
    font-size: 16px;
    font-weight: 500;
    padding: 14px;
    text-align: center;
}
.about-extra-icon-style2 ul li p i {
    font-size: 30px;
}
#resume.section{
    background-color: #000;
}

.timeline {
    height: 100%;
}
.timeline:after, .timeline::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 49.8%;
    width: 3px;
    height: 100%;
    background-color: #dbdde5;
    z-index: 5;    
}
.timeline-category{
    text-align: center;
    position: relative;
    z-index: 6;
}
.bt-timeline{
    display: inline-block;
    color: #2c3d4f;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    background-color: #dbdde5;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 0;
}
.timeline-category-icon{
    margin-top: 20px;
}
.edu-cagegory{
    clear: both;
}
.edu-cagegory .iconspace{
    background-color: #1abb9b;
}
.iconspace{
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #e74b3b;
    z-index: 7;
}
.iconspace i{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 40px;
}
.timeline-post-left{
    text-align: right;
}
.timeline-post-right{
    text-align: left;
}
.timeline-post{
    padding: 10px;
}
.timeline-post-left .timeline-post:first-child{
    margin-top: 65px;
}
.timeline-post-content-holder{
    padding: 15px;
}
.timeline-post:hover .timeline-post-content-holder{
    background-color: #FFFFFF;
    border-radius: 5px;
    position: relative;
}
.timeline-post-left > .timeline-post > .timeline-post-content-holder > .timeline-post-icon{
    position: absolute;
    right: 0;
    background-color: #ccd0db;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: -7px;
    z-index: 6;
    margin-top: 10px;
}
.timeline-post-right > .timeline-post > .timeline-post-content-holder > .timeline-post-icon{
    position: absolute;
    left: 0;
    background-color: #ccd0db;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -7px;
    z-index: 6;
    margin-top: 10px;
}
.timeline-post-left > .timeline-post:hover > .timeline-post-content-holder > .timeline-post-icon{
    position: absolute;
    right: 0;
    background-color: #e74b3b;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: -32px;
    z-index: 6;
    margin-top: 10px;
}
.timeline-post-right > .timeline-post:hover > .timeline-post-content-holder > .timeline-post-icon{
    position: absolute;
    right: 0;
    background-color: #e74b3b;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: -32px;
    z-index: 6;
    margin-top: 10px;
}

.timeline-post-right > .timeline-post:hover > .timeline-post-content-holder:before{
    right: 100%;
    top: 13%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #FFFFFF;
    border-width: 13px;
    margin-top: -13px;
}
.timeline-post-left > .timeline-post:hover > .timeline-post-content-holder:before{
    left: 100%;
    top: 13%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #FFFFFF;
    border-width: 13px;
    margin-top: -13px;
}
.timeline-post .timeline-post-title h4{
    color: #2c3e50;
    font-size: 22px;
    font-weight: bold;
}
.timeline-post .timeline-post-subtitle p{
    color: #2c3e50;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.timeline-post .timeline-post-content{
    color: #7d878f;
    font-size: 16px;
    line-height: 28px;
}
.timeline-post span.timeline-duration{
    position: relative;
    padding-left: 15px;
}
.timeline-post span.timeline-duration:before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    line-height: 1;
    background-color: #e74b3b;
    left: 3px;
    margin-top: 12px;
    border-radius: 50%;

}

.timeline-end-icon{
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #cbcfdb;
    color: #5f7183;
    font-size: 18px;
    line-height: 40px;
    bottom: 0;
    left: 48.3%;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    z-index: 6;
}
.count{

}
.count .single {
    font-size: 20px;
    line-height: 28px;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.count .iconspace{
    width: 95px;
    height: 95px;
    background: #FFFFFF;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.count .cicon {
    font-size: 50px;
    color: #e64b3b;
    line-height: 95px;
}
.count .sum{
    display: block;
    padding: 20px 0 10px;
    font-size: 22px;
    font-weight: 700;

}

.left-service{
    float: left;
}
.right-service{
    float: right;
}
.service-box{
    padding-bottom: 10px;
}
.left-service .service-icon{
    float: right;
    width: 85px;
    height: 85px;
    background-color: #e74c3c;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
    margin-left: 25px;
}
.left-service .service-content{
    text-align: right;
}
.right-service .service-icon{
    float: left;
    width: 85px;
    height: 85px;
    background-color: #e74c3c;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 40px;
    line-height: 85px;
    text-align: center;
    margin-right: 25px;
}
.right-service .service-content{
    text-align: left;
}
#service{
    background-color: #fff;
}
.service-content h3{
    color: #2c3d4f;
    text-transform: uppercase;

    font-size: 22px;
    font-weight: bold;
}
.service-content p{
    color: #7e868e;
    font-size: 16px;
    line-height: 28px;
}
#skills{
    background-color: #000;
}
.chart-padding{
    margin-bottom: 50px; 
}
.chart {
  position: relative;
  padding: 0 10px;
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 170px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 170px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.chart p{
    color: #9fa3a9;
    font-size: 50px;
    line-height: 170px;
}
.chart p sup{
    font-size: 18px;
    top: -1.2em;
}
.skills-content{
    text-align: center;
}
.skills-content h3{
    color: #2c3e50;
    font-size: 22px;
    font-weight: bold;
}
.skills-content p{
    color: #7d878f;
    font-size: 16px;
    line-height: 28px;
}
.work_process {
    position: relative;
    text-align: center;
}
.work_process:before {
    content: '\f178';
    margin-top: -10px;
    position: absolute;
    right: -30px;
    top: 50%;
}
.work_process .work_process-box {
    outline: 4px solid #FFFFFF;
    border-radius: 50%;
    height: 120px;
    margin: 1em auto 3em;
    padding: 16px 10px;
    width: 120px;
}
.work_process-box i {
    font-size: 32px;
    line-height: 52px;
    width: 52px;
    color: #FFFFFF;
}
.work_process-box h4 {
    font-weight: 400;
    margin: 0;
    color: #FFFFFF;
}
#options {
    display: block;
    margin:20px auto 40px 10px;
    text-align: center;
    width: 100%;
    z-index: 2;
}
#filters {
    list-style: none outside none;
}
#filters li {
    display: inline-block;
    margin: 0 5px;
}
#filters li a {
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #6f6f6f;
    display: block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    padding: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    outline: none;
    text-decoration: none;
}

#filters li a:hover{
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

#options li a.selected{
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

.project-item {
    margin-bottom: 20px;
}
.project-item .project-image {
    -moz-box-sizing: border-box;
    list-style: none outside none;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition:  all 0.4s ease 0s;
    -ms-transition:   all 0.4s ease 0s;
    -o-transition:    all 0.4s ease 0s;    
    transition: all 0.4s ease 0s;
}
.project-item .details h2 {
    border: 0 none;
    display: block;
}
.project-item .details p {
    border-top: 1px solid #DDDDDD;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    text-transform: lowercase;
}
.project-item .details p span {
    font-style: normal;
    letter-spacing: 1px;
    margin-left: 2px;
    text-transform: uppercase;
}
.project-image .overlay {
    -moz-box-sizing: border-box;
    background-clip: padding-box;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.4s ease-in-out 0s;
    -moz-transition:  opacity 0.4s ease-in-out 0s;
    -ms-transition:   opacity 0.4s ease-in-out 0s;
    -o-transition:    opacity 0.4s ease-in-out 0s;       
    transition: opacity 0.4s ease-in-out 0s;
    width: 100%;
}
.project-image:hover .overlay {
    opacity: 1;
}
.project-item .overlay h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
    padding: 0;
    transition: all 0.4s ease 0s;
    text-transform: uppercase;
    margin-top: 73px;
}
.project-item .overlay > h2 a {
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.project-item .overlay:hover > h2 a {
    opacity: 1;
}
.project-item .overlay h2 {
    color: #FFFFFF;
}
.project-item .overlay a {
    color: #FFFFFF;
    text-decoration: none;
}
.project-item .overlay em {
    color: #FFFFFF;
}
.project-item img {
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    transition: all 0.4s ease-out 0s;
}
.project-item:hover img {
    transform: scale(1.1);
}
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
    
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
    
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
    
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.portfolio-single {
    padding-bottom: 100px;
    padding-top: 150px;
}
.portfolio-single h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
}
.portfolio-single .single-project img {
    margin-bottom: 10px;
    margin-top: 34px;
}
.portfolio-single .item-meta {
    font-size: 16px;
    list-style: outside none none;
    margin-bottom: 0;
    margin-left: -38px;
}
.item-meta > li {
    padding-bottom: 10px;
}
.portfolio-single .btn {
    margin: 20px 0 40px;
}
.portfolio-single .btn:hover {
    color: #fff !important;
}
.more-portfolio-item {
    background-color: #f2f2f2;
    padding: 100px 0;
}
.more-portfolio-item .title > h2 {
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
}
#pricetable{
    background-color: #f0f2f7;
}
.price-padding{
    padding-left: 6px;
    padding-right: 6px;
}
.price-pack {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 35px;
}
.price-pack:hover {
    margin-bottom: 0;
    position: relative;
    z-index: 99;
}
.package-header, .package-price, .package-features {
    padding: 20px;
}
.package-header{
    height: 156px;
    padding-top: 45px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.package-header.package-basic{
    background-color: #e74c3c;
}
.package-header.package-standard{
    background-color: #1abc9c;
}
.package-header.package-pro{
    background-color: #9b59b6;
}
.package-header.package-ultimate{
    background-color: #3498db;
}
.price-pack .price {
    color: #FFFFFF;
}
.price-pack:hover .package-price{
    background: #fff !important;
}
.price-pack .name {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.package-price {
    display: block;
    background-color: #FFFFFF;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid #d6d6d6;
    margin: 0 auto;
    margin-top: -62px;
    padding: 0;
}
.price .price-value {
    color: #2c3d4f;
    font-size: 52px;
    font-weight: 700;
    padding-top: 8px;
}
.price .price-value span {
    font-size: 25px;
}
.price .price-period {
    color: #b4bbc3;
    font-size: 14px;
    margin-top: -9px;
}

.package-price small {
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
}
.price-pack ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.price-pack ul li {
    margin-bottom: 8px;
    color: #7d878f;
    font-size: 16px;
    cursor: pointer;
}
.price-pack ul li span{
    font-weight: 500;
}

.price-pack .btn {
    padding: 12px 25px;
    text-transform: uppercase;
    border-radius: 5px;
}
.blog-masonry {
  padding: 80px 0;
}

.blog-post-holder {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
  margin-top: 60px;
}

.masonry-post {
  background-color: #FFFFFF;
  float: left;
  position: relative;
  border: 1px solid #eee;
  margin-bottom: 20px;
  width: 350px;
  margin-left: 25px;
}

.masonry-post-img {
  position: relative;
  width: 100%;
  height: 100%;
}

/* video post */
.masonry-post .video-holder{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 10px;
    position: relative;    
}
.masonry-post .video-holder iframe,.blog-post .video-holder object,.blog-post .video-holder embed{
    border: 0 none;
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100% !important;    
}
.masonry-post.quote{
  padding: 30px;
}
.masonry-post .post-quote h2 {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 40px;
}

.masonry-post-title h4 {
  padding: 10px 20px 0 20px; 
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
}

.masonry-post-meta {
  padding: 0 20px; 
  font-weight: 600;
  font-size: 14px;

  margin-bottom: 15px;
}

.masonry-post-meta .masonry-author {
  font-style: normal;
  font-weight: 400;
  color: #a3a2a2;
}

.masonry-post-content {
  padding: 15px 20px 25px 20px;
  border-top: 1px solid #eee;
}

.masonry-post-more {
  padding: 15px 20px;
  font-size: 14px;
  background-color: #f7f7f7;
  text-align: center;
}

.masonry-post-more a {
  display: block;
  color: #808080;
}

.masonry-post-more i {
  font-size: 18px;
  padding-right: 10px;
}

.masonry-post-more:hover {
  -webkit-transition: all .5s;
  -moz-transition:    all .5s;
  -ms-transition:     all .5s;
  -o-transition:      all .5s;
  transition:         all .5s;
}

.masonry-post-more:hover a {
  color: #fff;
}

.masonry-post-more a:hover {
    color: #fff !important;
}

/* load more button */
.btn-masonry-container {
  text-align: center;
}

.btn-masonry {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  padding: 10px 25px;
  color: #2c3e50;
  border: 2px solid #2c3e50;

  -webkit-transition: all .5s;
  -moz-transition:  all .5s;
  -ms-transition:   all .5s;
  -o-transition:    all .5s;
  transition:     all .5s;
}
#clients {
    background-color: #fff;
}
.clients_logo li{
    margin-bottom: 30px;
}
#testimonials {
    margin-top: 50px;
    margin-bottom: 100px;
}
#testimonials .item{
    padding: 10px;
}

.testimonials > img {
    border-radius: 66px;
    -webkit-border-radius: 66px;
    -moz-border-radius: 66px;
}
.box {
    position: relative;
    text-align: center;
}
.box .author {
    font-size: 18px;
    font-weight: bold;
}
.clients_logo {
    list-style: none outside none;
    margin-left: -30px;
}
.clients_logo li{
    display: inline-block;
    height: 125px;
    padding: 0px;
}
.get_in{
    list-style: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.get_in li i {
    border-radius: 25px;
    color: #FFFFFF;
    height: 42px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    width: 42px;
}
.get_in p {
    display: inline-block;
    padding-left: 10px;
}
.form input[type="text"], textarea {
    color: #999999;
    font-size: 14px;
    text-transform:uppercase;
    height: 64px;
    padding: 26px 3%;
    background:none repeat scroll 0 0 #f2f2f2;
    border-radius:3px;
    margin-bottom:20px;
    width: 100%;
    border:0;
    transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    }
.form input[type=text]:focus,.form textarea:focus, input[type=email]:focus {
    background-color: #e1e1e1;
    box-shadow:none;
    border: none;
}
.form textarea {
    height:174px;
    resize:none;
}

.form input.btn[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 100px;
    outline: none;
    color: #FFFFFF;
    padding: 22px;
}

.sending{
  display:none;
  color:#222222;
  font-size:20px;
  line-height:20px;
  text-align: center;
}
.mess.center {
    color: #222222;
    text-align: center;
}
.gmap{
    height: 500px;
    margin-top: 50px;
}

#contact {
    background-color: #000;
}
.contact .pinico{
    margin-top: 50px;
}
.twitter-feed-section{
    background: none repeat scroll 0 0 #55acee;
    color: #FFFFFF;
    padding: 40px 0;    
}
.twt-icon {
    float: left;
    font-size: 50px;
    width: 5%;
}
.twt-feed {
    float: left;
    margin-top: 18px;
    width: 90%;
}
.tweets-list-container{
    float: left;
    overflow: hidden;
    position: relative;
}
.tweet-list {
    list-style: none outside none;
}
.tweet-list li {
    font-size: 18px;
    text-align: center;
}
.footer-widgets{
    background-color: #222222;
    color: #FFFFFF;
    padding: 50px 0;
}
.footer-widgets h4{
    border-bottom: 1px dashed #444444;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 15px;    
}

.footer-widgets .recent-post-item {
    display: inline-block;
    margin-bottom: 40px;
    width: 100%;
}
.footer-widgets .recent-post-item .recent-post-item-img {
    float: left;
    margin-right: 20px;
}
.footer-widgets .recent-post-item .recent-post-item-img img {
    border-radius: 50%;
    height: 65px;
    width: 65px;
}
.footer-widgets .recent-post-item .recent-post-item-des {
}
.footer-widgets .recent-post-item .recent-post-item-des h5 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.footer-widgets .recent-post-item .recent-post-item-des h5 a {
    color: #FFFFFF;
    text-decoration: none;
}
.footer-widgets .recent-post-item .recent-post-item-des span {
    color: #858584;
    font-weight: 300;
}
.footer-widgets .tag-cloud, .footer-widgets .my-flickr {
    display: inline-block;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}
.footer-widgets .tag-cloud li, .footer-widgets .my-flickr li {
    list-style: outside none none;
}
.footer-widgets .tag-cloud li a {
    background: none repeat scroll 0 0 #292929;
    border-radius: 30px;
    color: #fff;
    float: left;
    font-size: 14px;
    margin: 0 5px 5px 0;
    padding: 10px;
    text-decoration: none;
}
.my-flickr li {
    display: inline-block;
    padding: 3px;
}
.my-flickr li a img:hover {
    opacity: 0.5;
}

.footer-bottom{
    background: none repeat scroll 0 0 #161616;
    color: #FFFFFF;
    padding: 30px 0;
}
.footer-bottom .copyright {
    font-weight: 300;
    margin-top: 36px;
}
.footer-bottom .social { padding:0; margin:2em 0; list-style:none; text-align: center; }
.footer-bottom .social li { display:inline-block; padding:0; margin-bottom: 3px; }
.footer-bottom .social li a { 
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-family: 'fontello';
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    margin: 0 0.1em 0.2em 0;
    padding: 0;
    text-align: center;
    width: 32px;
    border: none;
}

.footer-bottom .social li a.facebook:before { content: '\e800'; }
.footer-bottom .social li a.twitter:before { content: '\e801'; }
.footer-bottom .social li a.flickr:before { content: '\e810'; }
.footer-bottom .social li a.rss:before { content: '\e80b'; }
.footer-bottom .social li a.dribble:before { content: '\e806'; }
.footer-bottom .social li a.lastfm:before { content: '\e80a'; }
.footer-bottom .social li a.linkedin:before { content: '\e802'; }
.footer-bottom .social li a.vimeo:before { content: '\e80c'; }
.footer-bottom .social li a.google:before { content: '\e84d'; }
.footer-bottom .social li a.forrst:before { content: '\e80d'; }
.footer-bottom .social li a.skype:before { content: '\e812'; }
.footer-bottom .social li a.picassa:before { content: '\e8e0'; }
.footer-bottom .social li a.youtube:before { content: '\e813'; }
.footer-bottom .social li a.tumblr:before { content: '\e815'; }
.footer-bottom .social li a.behance:before { content: '\e868'; }
.footer-bottom .social li a.blogger:before { content: '\e80f'; }
.footer-bottom .social li a.delicious:before { content: '\e80f'; }
.footer-bottom .social li a.digg:before { content: '\e807'; }
.footer-bottom .social li a.friendfeed:before { content: '\e867'; }
.footer-bottom .social li a.github:before { content: '\e805'; }
.footer-bottom .social li a.wordpress:before { content: '\e816'; }
.footer-bottom .social li a.pinterest:before { content: '\e804'; } 
.footer-bottom .social li a.instagram:before { content: '\e80e'; }

.footer-bottom .social li a:hover { color:#fff !important; background-color:#000; border-color: #fff; }
.footer-bottom .social li a.facebook { background-color:#3c5fac; }
.footer-bottom .social li a.twitter { background-color:#5ec3df; }
.footer-bottom .social li a.flickr { background-color:#FF0084; }
.footer-bottom .social li a.rss { background-color:#ff9900; }
.footer-bottom .social li a.dribble { background-color:#EA4C89; }
.footer-bottom .social li a.lastfm { background-color:#D51007; }
.footer-bottom .social li a.linkedin { background-color:#2089b5; }
.footer-bottom .social li a.vimeo { background-color:#0dadd6; }
.footer-bottom .social li a.google { background-color:#c63d2d; }
.footer-bottom .social li a.forrst { background-color:#5b9a68; }
.footer-bottom .social li a.skype { background-color:#00aff0; }
.footer-bottom .social li a.picassa { background-color:#ffd34e; }
.footer-bottom .social li a.youtube { background-color:#c8312b; }
.footer-bottom .social li a.pinterest { background-color:#cb2027; }
.footer-bottom .social li a.tumblr { background-color: #2C4762; }
.footer-bottom .social li a.behance { background-color: #3878F6; }
.footer-bottom .social li a.blogger { background-color: #fc9947; }
.footer-bottom .social li a.delicious { background-color: #3274d1; }
.footer-bottom .social li a.digg { background-color: #205891; }
.footer-bottom .social li a.friendfeed { background-color: #2f72c4; }
.footer-bottom .social li a.github { background-color: #000; }
.footer-bottom .social li a.wordpress { background-color: #0083b3; }
.footer-bottom .social li a.instagram { background-color:#3f729b; }
.colors-switcher {
    width:100px;
    padding:20px 18px 14px 20px;
    position:fixed;
    z-index:1993;
    top:90px;
    right:0;
    background-color:#FFFFFF;
    border-radius:2px 0 0 2px;
    border:1px solid rgba(0,0,0,.1);
    -webkit-transition:all .4s ease-in-out;
    -moz-transition:all .4s ease-in-out;
    -ms-transition:all .4s ease-in-out;
    -o-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out;
}
.colors-switcher > p {
    font-size: 11px;
    line-height: 0;
}
.colors-switcher #show-panel {
    position:absolute;
    left:-38px;
    top:15px;
    width:38px;
    height:38px;
    z-index:1992;
    display:block;
    background-color:#FFFFFF;
    border-radius:2px 0 0 2px;
    border:1px solid rgba(0,0,0,.1);
    border-right:none;
    cursor: pointer;
}
.colors-switcher #show-panel i {
    color: #3D3D3D;
    font-size: 20px;
    line-height: 38px;
    margin-left: 15px;
}
.colors-switcher .colors-list {
    margin:0;
    padding:0;
}
.colors-switcher .colors-list li {
    float:left;
    display:block;
    margin-bottom:2px;
    margin-right:6px;
}
.colors-switcher .colors-list li a {
    display:inline-block;
    width:24px;
    height:24px;
    border-radius:2px;
    transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    cursor: pointer;
}
.colors-switcher .colors-list li a:hover {
    box-shadow:inset 0 0 6px rgba(0,0,0,.4);
}
.colors-switcher .colors-list a.red {
    background-color:#f54f36;
}
.colors-switcher .colors-list a.orange {
    background-color:#f4a622;
}
.colors-switcher .colors-list a.sun-flower {
    background-color:#ebbb14;
}
.colors-switcher .colors-list a.turquoise {
    background-color:#1abc9c;
}
.colors-switcher .colors-list a.blue {
    background-color:#4abcdd;
}
.colors-switcher .colors-list a.purple {
    background-color:#9d6fc8;
}
.colors-switcher .colors-list a.green {
    background-color:#b7db48;
}
.colors-switcher .colors-list a.emerald {
    background-color:#2ecc71;
}
.colors-switcher .colors-list a.wet-asphalt {
    background-color:#3c546c;
}
.colors-switcher .colors-list a.gray {
    background-color: #797979;
}
.mask {
    background-color: #ffffff;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader-color {
    border-color: #f54f36 !important;
}
.loader-item {
    background: none repeat scroll 0 0 #ffffff;
    border-bottom: 3px solid rgba(0, 0, 0, 0) !important;
    border-left: 3px solid;
    border-radius: 200px;
    border-right: 3px solid;
    border-top: 3px solid;
    height: 40px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}


/* Metrofontpack.csss */
@font-face {
  font-family: 'metrofontpack';
  src:url('fonts/metrofontpack.eot?tdjaq8');
  src:url('fonts/metrofontpack.eot?#iefixtdjaq8') format('embedded-opentype'),
  url('fonts/metrofontpack.woff?tdjaq8') format('woff'),
  url('fonts/metrofontpack.ttf?tdjaq8') format('truetype'),
  url('fonts/metrofontpack.svg?tdjaq8#metrofontpack') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
  font-family: 'metrofontpack';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0a2";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before {
  content: "\f0c0";
}
.fa-chain:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before {
  content: "\f0c4";
}
.fa-copy:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before {
  content: "\f0dc";
}
.fa-sort-down:before {
  content: "\f0dd";
}
.fa-sort-up:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before {
  content: "\f0e2";
}
.fa-legal:before {
  content: "\f0e3";
}
.fa-dashboard:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0f3";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before {
  content: "\f150";
}
.fa-toggle-up:before {
  content: "\f151";
}
.fa-toggle-right:before {
  content: "\f152";
}
.fa-euro:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before {
  content: "\f155";
}
.fa-rupee:before {
  content: "\f156";
}
.fa-cny:before {
  content: "\f157";
}
.fa-ruble:before {
  content: "\f158";
}
.fa-won:before {
  content: "\f159";
}
.fa-bitcoin:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-home2:before {
  content: "\e61a";
}
.fa-home3:before {
  content: "\e61b";
}
.fa-home4:before {
  content: "\e61c";
}
.fa-office:before {
  content: "\e61d";
}
.fa-newspaper:before {
  content: "\e61e";
}
.fa-pencil2:before {
  content: "\e61f";
}
.fa-pencil3:before {
  content: "\e620";
}
.fa-quill:before {
  content: "\e621";
}
.fa-pen:before {
  content: "\e622";
}
.fa-blog:before {
  content: "\e623";
}
.fa-droplet:before {
  content: "\e624";
}
.fa-paint-format:before {
  content: "\e625";
}
.fa-image:before {
  content: "\e626";
}
.fa-image2:before {
  content: "\e627";
}
.fa-images:before {
  content: "\e628";
}
.fa-camera2:before {
  content: "\e629";
}
.fa-music2:before {
  content: "\e62a";
}
.fa-headphones2:before {
  content: "\e62b";
}
.fa-play2:before {
  content: "\e62c";
}
.fa-film2:before {
  content: "\e62d";
}
.fa-camera3:before {
  content: "\e62e";
}
.fa-dice:before {
  content: "\e62f";
}
.fa-pacman:before {
  content: "\e630";
}
.fa-spades:before {
  content: "\e631";
}
.fa-clubs:before {
  content: "\e632";
}
.fa-diamonds:before {
  content: "\e633";
}
.fa-pawn:before {
  content: "\e634";
}
.fa-bullhorn2:before {
  content: "\e635";
}
.fa-connection:before {
  content: "\e636";
}
.fa-podcast:before {
  content: "\e637";
}
.fa-feed:before {
  content: "\e638";
}
.fa-book2:before {
  content: "\e639";
}
.fa-books:before {
  content: "\e63a";
}
.fa-library:before {
  content: "\e63b";
}
.fa-file2:before {
  content: "\e63c";
}
.fa-profile:before {
  content: "\e63d";
}
.fa-file3:before {
  content: "\e63e";
}
.fa-file4:before {
  content: "\e63f";
}
.fa-file5:before {
  content: "\e640";
}
.fa-copy2:before {
  content: "\e641";
}
.fa-copy3:before {
  content: "\e642";
}
.fa-copy4:before {
  content: "\e643";
}
.fa-paste2:before {
  content: "\e644";
}
.fa-paste3:before {
  content: "\e645";
}
.fa-paste4:before {
  content: "\e646";
}
.fa-stack:before {
  content: "\e647";
}
.fa-folder2:before {
  content: "\e648";
}
.fa-folder-open2:before {
  content: "\e649";
}
.fa-tag2:before {
  content: "\e64a";
}
.fa-tags2:before {
  content: "\e64b";
}
.fa-barcode2:before {
  content: "\e64c";
}
.fa-qrcode2:before {
  content: "\e64d";
}
.fa-ticket2:before {
  content: "\e64e";
}
.fa-cart:before {
  content: "\e64f";
}
.fa-cart2:before {
  content: "\e650";
}
.fa-cart3:before {
  content: "\e651";
}
.fa-coin:before {
  content: "\e652";
}
.fa-credit:before {
  content: "\e653";
}
.fa-calculate:before {
  content: "\e654";
}
.fa-support:before {
  content: "\e655";
}
.fa-phone2:before {
  content: "\e656";
}
.fa-phone-hang-up:before {
  content: "\e657";
}
.fa-address-book:before {
  content: "\e658";
}
.fa-notebook:before {
  content: "\e659";
}
.fa-envelope2:before {
  content: "\e65a";
}
.fa-pushpin:before {
  content: "\e65b";
}
.fa-location:before {
  content: "\e65c";
}
.fa-location2:before {
  content: "\e65d";
}
.fa-compass2:before {
  content: "\e65e";
}
.fa-map:before {
  content: "\e65f";
}
.fa-map2:before {
  content: "\e660";
}
.fa-history:before {
  content: "\e661";
}
.fa-clock:before {
  content: "\e662";
}
.fa-clock2:before {
  content: "\e663";
}
.fa-alarm:before {
  content: "\e664";
}
.fa-alarm2:before {
  content: "\e665";
}
.fa-bell2:before {
  content: "\e666";
}
.fa-stopwatch:before {
  content: "\e667";
}
.fa-calendar2:before {
  content: "\e668";
}
.fa-calendar3:before {
  content: "\e669";
}
.fa-print2:before {
  content: "\e66a";
}
.fa-keyboard:before {
  content: "\e66b";
}
.fa-screen:before {
  content: "\e66c";
}
.fa-laptop2:before {
  content: "\e66d";
}
.fa-mobile:before {
  content: "\e66e";
}
.fa-mobile2:before {
  content: "\e66f";
}
.fa-tablet2:before {
  content: "\e670";
}
.fa-tv:before {
  content: "\e671";
}
.fa-cabinet:before {
  content: "\e672";
}
.fa-drawer:before {
  content: "\e673";
}
.fa-drawer2:before {
  content: "\e674";
}
.fa-drawer3:before {
  content: "\e675";
}
.fa-box-add:before {
  content: "\e676";
}
.fa-box-remove:before {
  content: "\e677";
}
.fa-download2:before {
  content: "\e678";
}
.fa-upload2:before {
  content: "\e679";
}
.fa-disk:before {
  content: "\e67a";
}
.fa-storage:before {
  content: "\e67b";
}
.fa-undo:before {
  content: "\e67c";
}
.fa-redo:before {
  content: "\e67d";
}
.fa-flip:before {
  content: "\e67e";
}
.fa-flip2:before {
  content: "\e67f";
}
.fa-undo2:before {
  content: "\e680";
}
.fa-redo2:before {
  content: "\e681";
}
.fa-forward2:before {
  content: "\e682";
}
.fa-reply:before {
  content: "\e683";
}
.fa-bubble:before {
  content: "\e684";
}
.fa-bubbles:before {
  content: "\e685";
}
.fa-bubbles2:before {
  content: "\e686";
}
.fa-bubble2:before {
  content: "\e687";
}
.fa-bubbles3:before {
  content: "\e688";
}
.fa-bubbles4:before {
  content: "\e689";
}
.fa-user2:before {
  content: "\e68a";
}
.fa-users:before {
  content: "\e68b";
}
.fa-user3:before {
  content: "\e68c";
}
.fa-users2:before {
  content: "\e68d";
}
.fa-user4:before {
  content: "\e68e";
}
.fa-user5:before {
  content: "\e68f";
}
.fa-quotes-left:before {
  content: "\e690";
}
.fa-busy:before {
  content: "\e691";
}
.fa-spinner2:before {
  content: "\e692";
}
.fa-spinner3:before {
  content: "\e693";
}
.fa-spinner4:before {
  content: "\e694";
}
.fa-spinner5:before {
  content: "\e695";
}
.fa-spinner6:before {
  content: "\e696";
}
.fa-spinner7:before {
  content: "\e697";
}
.fa-binoculars:before {
  content: "\e698";
}
.fa-search2:before {
  content: "\e699";
}
.fa-zoomin:before {
  content: "\e69a";
}
.fa-zoomout:before {
  content: "\e69b";
}
.fa-expand2:before {
  content: "\e69c";
}
.fa-contract:before {
  content: "\e69d";
}
.fa-expand3:before {
  content: "\e69e";
}
.fa-contract2:before {
  content: "\e69f";
}
.fa-key2:before {
  content: "\e6a0";
}
.fa-key3:before {
  content: "\e6a1";
}
.fa-lock2:before {
  content: "\e6a2";
}
.fa-lock3:before {
  content: "\e6a3";
}
.fa-unlocked:before {
  content: "\e6a4";
}
.fa-wrench2:before {
  content: "\e6a5";
}
.fa-settings:before {
  content: "\e6a6";
}
.fa-equalizer:before {
  content: "\e6a7";
}
.fa-cog:before {
  content: "\e6a8";
}
.fa-cogs:before {
  content: "\e6a9";
}
.fa-cog2:before {
  content: "\e6aa";
}
.fa-hammer:before {
  content: "\e6ab";
}
.fa-wand:before {
  content: "\e6ac";
}
.fa-aid:before {
  content: "\e6ad";
}
.fa-bug2:before {
  content: "\e6ae";
}
.fa-pie:before {
  content: "\e6af";
}
.fa-stats:before {
  content: "\e6b0";
}
.fa-bars2:before {
  content: "\e6b1";
}
.fa-bars3:before {
  content: "\e6b2";
}
.fa-gift2:before {
  content: "\e6b3";
}
.fa-trophy2:before {
  content: "\e6b4";
}
.fa-glass2:before {
  content: "\e6b5";
}
.fa-mug:before {
  content: "\e6b6";
}
.fa-food:before {
  content: "\e6b7";
}
.fa-leaf2:before {
  content: "\e6b8";
}
.fa-rocket2:before {
  content: "\e6b9";
}
.fa-meter:before {
  content: "\e6ba";
}
.fa-meter2:before {
  content: "\e6bb";
}
.fa-dashboard2:before {
  content: "\e6bc";
}
.fa-hammer2:before {
  content: "\e6bd";
}
.fa-fire2:before {
  content: "\e6be";
}
.fa-lab:before {
  content: "\e6bf";
}
.fa-magnet2:before {
  content: "\e6c0";
}
.fa-remove:before {
  content: "\e6c1";
}
.fa-remove2:before {
  content: "\e6c2";
}
.fa-briefcase2:before {
  content: "\e6c3";
}
.fa-airplane:before {
  content: "\e6c4";
}
.fa-truck2:before {
  content: "\e6c5";
}
.fa-road2:before {
  content: "\e6c6";
}
.fa-accessibility:before {
  content: "\e6c7";
}
.fa-target:before {
  content: "\e6c8";
}
.fa-shield2:before {
  content: "\e6c9";
}
.fa-lightning:before {
  content: "\e6ca";
}
.fa-switch:before {
  content: "\e6cb";
}
.fa-powercord:before {
  content: "\e6cc";
}
.fa-signup:before {
  content: "\e6cd";
}
.fa-list2:before {
  content: "\e6ce";
}
.fa-list3:before {
  content: "\e6cf";
}
.fa-numbered-list:before {
  content: "\e6d0";
}
.fa-menu:before {
  content: "\e6d1";
}
.fa-menu2:before {
  content: "\e6d2";
}
.fa-tree:before {
  content: "\e6d3";
}
.fa-cloud2:before {
  content: "\e6d4";
}
.fa-cloud-download2:before {
  content: "\e6d5";
}
.fa-cloud-upload2:before {
  content: "\e6d6";
}
.fa-download3:before {
  content: "\e6d7";
}
.fa-upload3:before {
  content: "\e6d8";
}
.fa-download4:before {
  content: "\e6d9";
}
.fa-upload4:before {
  content: "\e6da";
}
.fa-globe2:before {
  content: "\e6db";
}
.fa-earth:before {
  content: "\e6dc";
}
.fa-link:before {
  content: "\e6dd";
}
.fa-flag2:before {
  content: "\e6de";
}
.fa-attachment:before {
  content: "\e6df";
}
.fa-eye2:before {
  content: "\e6e0";
}
.fa-eye-blocked:before {
  content: "\e6e1";
}
.fa-eye3:before {
  content: "\e6e2";
}
.fa-bookmark2:before {
  content: "\e6e3";
}
.fa-bookmarks:before {
  content: "\e6e4";
}
.fa-brightness-medium:before {
  content: "\e6e5";
}
.fa-brightness-contrast:before {
  content: "\e6e6";
}
.fa-contrast:before {
  content: "\e6e7";
}
.fa-star2:before {
  content: "\e6e8";
}
.fa-star3:before {
  content: "\e6e9";
}
.fa-star4:before {
  content: "\e6ea";
}
.fa-heart2:before {
  content: "\e6eb";
}
.fa-heart3:before {
  content: "\e6ec";
}
.fa-heart-broken:before {
  content: "\e6ed";
}
.fa-thumbs-up2:before {
  content: "\e6ee";
}
.fa-thumbs-up3:before {
  content: "\e6ef";
}
.fa-happy:before {
  content: "\e6f0";
}
.fa-happy2:before {
  content: "\e6f1";
}
.fa-smiley:before {
  content: "\e6f2";
}
.fa-smiley2:before {
  content: "\e6f3";
}
.fa-tongue:before {
  content: "\e6f4";
}
.fa-tongue2:before {
  content: "\e6f5";
}
.fa-sad:before {
  content: "\e6f6";
}
.fa-sad2:before {
  content: "\e6f7";
}
.fa-wink:before {
  content: "\e6f8";
}
.fa-wink2:before {
  content: "\e6f9";
}
.fa-grin:before {
  content: "\e6fa";
}
.fa-grin2:before {
  content: "\e6fb";
}
.fa-cool:before {
  content: "\e6fc";
}
.fa-cool2:before {
  content: "\e6fd";
}
.fa-angry:before {
  content: "\e6fe";
}
.fa-angry2:before {
  content: "\e6ff";
}
.fa-evil:before {
  content: "\e700";
}
.fa-evil2:before {
  content: "\e701";
}
.fa-shocked:before {
  content: "\e702";
}
.fa-shocked2:before {
  content: "\e703";
}
.fa-confused:before {
  content: "\e704";
}
.fa-confused2:before {
  content: "\e705";
}
.fa-neutral:before {
  content: "\e706";
}
.fa-neutral2:before {
  content: "\e707";
}
.fa-wondering:before {
  content: "\e708";
}
.fa-wondering2:before {
  content: "\e709";
}
.fa-point-up:before {
  content: "\e70a";
}
.fa-point-right:before {
  content: "\e70b";
}
.fa-point-down:before {
  content: "\e70c";
}
.fa-point-left:before {
  content: "\e70d";
}
.fa-warning2:before {
  content: "\e70e";
}
.fa-notification:before {
  content: "\e70f";
}
.fa-question2:before {
  content: "\e710";
}
.fa-info2:before {
  content: "\e711";
}
.fa-info3:before {
  content: "\e712";
}
.fa-blocked:before {
  content: "\e713";
}
.fa-cancel-circle:before {
  content: "\e714";
}
.fa-checkmark-circle:before {
  content: "\e715";
}
.fa-spam:before {
  content: "\e716";
}
.fa-close:before {
  content: "\e717";
}
.fa-checkmark:before {
  content: "\e718";
}
.fa-checkmark2:before {
  content: "\e719";
}
.fa-spell-check:before {
  content: "\e71a";
}
.fa-minus2:before {
  content: "\e71b";
}
.fa-plus2:before {
  content: "\e71c";
}
.fa-enter:before {
  content: "\e71d";
}
.fa-exit:before {
  content: "\e71e";
}
.fa-play3:before {
  content: "\e600";
}
.fa-pause2:before {
  content: "\e601";
}
.fa-stop2:before {
  content: "\e602";
}
.fa-backward2:before {
  content: "\e603";
}
.fa-forward3:before {
  content: "\e604";
}
.fa-play22:before {
  content: "\e605";
}
.fa-pause22:before {
  content: "\e606";
}
.fa-stop22:before {
  content: "\e607";
}
.fa-backward22:before {
  content: "\e608";
}
.fa-forward22:before {
  content: "\e609";
}
.fa-first:before {
  content: "\e60a";
}
.fa-last:before {
  content: "\e60b";
}
.fa-previous:before {
  content: "\e60c";
}
.fa-next:before {
  content: "\e60d";
}
.fa-eject2:before {
  content: "\e60e";
}
.fa-volume-high:before {
  content: "\e60f";
}
.fa-volume-medium:before {
  content: "\e610";
}
.fa-volume-low:before {
  content: "\e611";
}
.fa-volume-mute:before {
  content: "\e612";
}
.fa-volume-mute2:before {
  content: "\e613";
}
.fa-volume-increase:before {
  content: "\e614";
}
.fa-volume-decrease:before {
  content: "\e615";
}
.fa-loop:before {
  content: "\e616";
}
.fa-loop2:before {
  content: "\e617";
}
.fa-loop3:before {
  content: "\e618";
}
.fa-shuffle:before {
  content: "\e619";
}
.fa-arrow-up-left:before {
  content: "\e71f";
}
.fa-arrow-up2:before {
  content: "\e720";
}
.fa-arrow-up-right:before {
  content: "\e721";
}
.fa-arrow-right2:before {
  content: "\e722";
}
.fa-arrow-down-right:before {
  content: "\e723";
}
.fa-arrow-down2:before {
  content: "\e724";
}
.fa-arrow-down-left:before {
  content: "\e725";
}
.fa-arrow-left2:before {
  content: "\e726";
}
.fa-arrow-up-left2:before {
  content: "\e727";
}
.fa-arrow-up3:before {
  content: "\e728";
}
.fa-arrow-up-right2:before {
  content: "\e729";
}
.fa-arrow-right3:before {
  content: "\e72a";
}
.fa-arrow-down-right2:before {
  content: "\e72b";
}
.fa-arrow-down3:before {
  content: "\e72c";
}
.fa-arrow-down-left2:before {
  content: "\e72d";
}
.fa-arrow-left3:before {
  content: "\e72e";
}
.fa-arrow-up-left3:before {
  content: "\e72f";
}
.fa-arrow-up4:before {
  content: "\e730";
}
.fa-arrow-up-right3:before {
  content: "\e731";
}
.fa-arrow-right4:before {
  content: "\e732";
}
.fa-arrow-down-right3:before {
  content: "\e733";
}
.fa-arrow-down4:before {
  content: "\e734";
}
.fa-arrow-down-left3:before {
  content: "\e735";
}
.fa-arrow-left4:before {
  content: "\e736";
}
.fa-tab:before {
  content: "\e737";
}
.fa-checkbox-checked:before {
  content: "\e738";
}
.fa-checkbox-unchecked:before {
  content: "\e739";
}
.fa-checkbox-partial:before {
  content: "\e73a";
}
.fa-radio-checked:before {
  content: "\e73b";
}
.fa-radio-unchecked:before {
  content: "\e73c";
}
.fa-crop2:before {
  content: "\e73d";
}
.fa-scissors:before {
  content: "\e73e";
}
.fa-filter2:before {
  content: "\e73f";
}
.fa-filter3:before {
  content: "\e740";
}
.fa-font2:before {
  content: "\e741";
}
.fa-text-height2:before {
  content: "\e742";
}
.fa-text-width2:before {
  content: "\e743";
}
.fa-bold2:before {
  content: "\e744";
}
.fa-underline2:before {
  content: "\e745";
}
.fa-italic2:before {
  content: "\e746";
}
.fa-strikethrough2:before {
  content: "\e747";
}
.fa-omega:before {
  content: "\e748";
}
.fa-sigma:before {
  content: "\e749";
}
.fa-table2:before {
  content: "\e74a";
}
.fa-table3:before {
  content: "\e74b";
}
.fa-insert-template:before {
  content: "\e74c";
}
.fa-pilcrow:before {
  content: "\e74d";
}
.fa-lefttoright:before {
  content: "\e74e";
}
.fa-righttoleft:before {
  content: "\e74f";
}
.fa-paragraph-left:before {
  content: "\e750";
}
.fa-paragraph-center:before {
  content: "\e751";
}
.fa-paragraph-right:before {
  content: "\e752";
}
.fa-paragraph-justify:before {
  content: "\e753";
}
.fa-paragraph-left2:before {
  content: "\e754";
}
.fa-paragraph-center2:before {
  content: "\e755";
}
.fa-paragraph-right2:before {
  content: "\e756";
}
.fa-paragraph-justify2:before {
  content: "\e757";
}
.fa-indent-increase:before {
  content: "\e758";
}
.fa-indent-decrease:before {
  content: "\e759";
}
.fa-newtab:before {
  content: "\e75a";
}
.fa-embed:before {
  content: "\e75b";
}
.fa-code2:before {
  content: "\e75c";
}
.fa-console:before {
  content: "\e75d";
}
.fa-share:before {
  content: "\e75e";
}
.fa-mail:before {
  content: "\e75f";
}
.fa-mail2:before {
  content: "\e760";
}
.fa-mail3:before {
  content: "\e761";
}
.fa-mail4:before {
  content: "\e762";
}
.fa-google:before {
  content: "\e763";
}
.fa-googleplus:before {
  content: "\e764";
}
.fa-googleplus2:before {
  content: "\e765";
}
.fa-googleplus3:before {
  content: "\e766";
}
.fa-googleplus4:before {
  content: "\e767";
}
.fa-google-drive:before {
  content: "\e768";
}
.fa-facebook2:before {
  content: "\e769";
}
.fa-facebook3:before {
  content: "\e76a";
}
.fa-facebook4:before {
  content: "\e76b";
}
.fa-instagram2:before {
  content: "\e76c";
}
.fa-twitter2:before {
  content: "\e76d";
}
.fa-twitter3:before {
  content: "\e76e";
}
.fa-twitter4:before {
  content: "\e76f";
}
.fa-feed2:before {
  content: "\e770";
}
.fa-feed3:before {
  content: "\e771";
}
.fa-feed4:before {
  content: "\e772";
}
.fa-youtube2:before {
  content: "\e773";
}
.fa-youtube3:before {
  content: "\e774";
}
.fa-vimeo:before {
  content: "\e775";
}
.fa-vimeo2:before {
  content: "\e776";
}
.fa-vimeo3:before {
  content: "\e777";
}
.fa-lanyrd:before {
  content: "\e778";
}
.fa-flickr2:before {
  content: "\e779";
}
.fa-flickr3:before {
  content: "\e77a";
}
.fa-flickr4:before {
  content: "\e77b";
}
.fa-flickr5:before {
  content: "\e77c";
}
.fa-picassa:before {
  content: "\e77d";
}
.fa-picassa2:before {
  content: "\e77e";
}
.fa-dribbble2:before {
  content: "\e77f";
}
.fa-dribbble3:before {
  content: "\e780";
}
.fa-dribbble4:before {
  content: "\e781";
}
.fa-forrst:before {
  content: "\e782";
}
.fa-forrst2:before {
  content: "\e783";
}
.fa-deviantart:before {
  content: "\e784";
}
.fa-deviantart2:before {
  content: "\e785";
}
.fa-steam:before {
  content: "\e786";
}
.fa-steam2:before {
  content: "\e787";
}
.fa-github2:before {
  content: "\e788";
}
.fa-github3:before {
  content: "\e789";
}
.fa-github4:before {
  content: "\e78a";
}
.fa-github5:before {
  content: "\e78b";
}
.fa-github6:before {
  content: "\e78c";
}
.fa-wordpress:before {
  content: "\e78d";
}
.fa-wordpress2:before {
  content: "\e78e";
}
.fa-joomla:before {
  content: "\e78f";
}
.fa-blogger:before {
  content: "\e790";
}
.fa-blogger2:before {
  content: "\e791";
}
.fa-tumblr2:before {
  content: "\e792";
}
.fa-tumblr3:before {
  content: "\e793";
}
.fa-yahoo:before {
  content: "\e794";
}
.fa-tux:before {
  content: "\e795";
}
.fa-apple2:before {
  content: "\e796";
}
.fa-finder:before {
  content: "\e797";
}
.fa-android2:before {
  content: "\e798";
}
.fa-windows2:before {
  content: "\e799";
}
.fa-windows8:before {
  content: "\e79a";
}
.fa-soundcloud:before {
  content: "\e79b";
}
.fa-soundcloud2:before {
  content: "\e79c";
}
.fa-skype2:before {
  content: "\e79d";
}
.fa-reddit:before {
  content: "\e79e";
}
.fa-linkedin2:before {
  content: "\e79f";
}
.fa-lastfm:before {
  content: "\e7a0";
}
.fa-lastfm2:before {
  content: "\e7a1";
}
.fa-delicious:before {
  content: "\e7a2";
}
.fa-stumbleupon:before {
  content: "\e7a3";
}
.fa-stumbleupon2:before {
  content: "\e7a4";
}
.fa-stackoverflow:before {
  content: "\e7a5";
}
.fa-pinterest2:before {
  content: "\e7a6";
}
.fa-pinterest3:before {
  content: "\e7a7";
}
.fa-xing2:before {
  content: "\e7a8";
}
.fa-xing3:before {
  content: "\e7a9";
}
.fa-flattr:before {
  content: "\e7aa";
}
.fa-foursquare2:before {
  content: "\e7ab";
}
.fa-foursquare3:before {
  content: "\e7ac";
}
.fa-paypal:before {
  content: "\e7ad";
}
.fa-paypal2:before {
  content: "\e7ae";
}
.fa-paypal3:before {
  content: "\e7af";
}
.fa-yelp:before {
  content: "\e7b0";
}
.fa-libreoffice:before {
  content: "\e7b1";
}
.fa-file-pdf:before {
  content: "\e7b2";
}
.fa-file-openoffice:before {
  content: "\e7b3";
}
.fa-file-word:before {
  content: "\e7b4";
}
.fa-file-excel:before {
  content: "\e7b5";
}
.fa-file-zip:before {
  content: "\e7b6";
}
.fa-file-powerpoint:before {
  content: "\e7b7";
}
.fa-file-xml:before {
  content: "\e7b8";
}
.fa-file-css:before {
  content: "\e7b9";
}
.fa-html52:before {
  content: "\e7ba";
}
.fa-html53:before {
  content: "\e7bb";
}
.fa-css32:before {
  content: "\e7bc";
}
.fa-chrome:before {
  content: "\e7bd";
}
.fa-firefox:before {
  content: "\e7be";
}
.fa-IE:before {
  content: "\e7bf";
}
.fa-opera:before {
  content: "\e7c0";
}
.fa-safari:before {
  content: "\e7c1";
}
.fa-IcoMoon:before {
  content: "\e7c2";
}
.fa-heart4:before {
  content: "\e7c3";
}
.fa-cloud3:before {
  content: "\e7c4";
}
.fa-star5:before {
  content: "\e7c5";
}
.fa-tv2:before {
  content: "\e7c6";
}
.fa-sound:before {
  content: "\e7c7";
}
.fa-video:before {
  content: "\e7c8";
}
.fa-trash:before {
  content: "\e7c9";
}
.fa-user6:before {
  content: "\e7ca";
}
.fa-key4:before {
  content: "\e7cb";
}
.fa-search3:before {
  content: "\e7cc";
}
.fa-settings2:before {
  content: "\e7cd";
}
.fa-camera4:before {
  content: "\e7ce";
}
.fa-tag3:before {
  content: "\e7cf";
}
.fa-lock4:before {
  content: "\e7d0";
}
.fa-bulb:before {
  content: "\e7d1";
}
.fa-pen2:before {
  content: "\e7d2";
}
.fa-diamond:before {
  content: "\e7d3";
}
.fa-display:before {
  content: "\e7d4";
}
.fa-location3:before {
  content: "\e7d5";
}
.fa-eye4:before {
  content: "\e7d6";
}
.fa-bubble3:before {
  content: "\e7d7";
}
.fa-stack2:before {
  content: "\e7d8";
}
.fa-cup:before {
  content: "\e7d9";
}
.fa-phone3:before {
  content: "\e7da";
}
.fa-news:before {
  content: "\e7db";
}
.fa-mail5:before {
  content: "\e7dc";
}
.fa-like:before {
  content: "\e7dd";
}
.fa-photo:before {
  content: "\e7de";
}
.fa-note:before {
  content: "\e7df";
}
.fa-clock3:before {
  content: "\e7e0";
}
.fa-paperplane:before {
  content: "\e7e1";
}
.fa-params:before {
  content: "\e7e2";
}
.fa-banknote:before {
  content: "\e7e3";
}
.fa-data:before {
  content: "\e7e4";
}
.fa-music3:before {
  content: "\e7e5";
}
.fa-megaphone:before {
  content: "\e7e6";
}
.fa-study:before {
  content: "\e7e7";
}
.fa-lab2:before {
  content: "\e7e8";
}
.fa-food2:before {
  content: "\e7e9";
}
.fa-t-shirt:before {
  content: "\e7ea";
}
.fa-fire3:before {
  content: "\e7eb";
}
.fa-clip:before {
  content: "\e7ec";
}
.fa-shop:before {
  content: "\e7ed";
}
.fa-calendar4:before {
  content: "\e7ee";
}
.fa-wallet:before {
  content: "\e7ef";
}
.fa-vynil:before {
  content: "\e7f0";
}
.fa-truck3:before {
  content: "\e7f1";
}
.fa-world:before {
  content: "\e7f2";
}
.nav:hover{
    background: #000;
}
.info > h2 {
    opacity: .5;
    color: #000;
}
.info > h3 {
    opacity: .5;
    color: #000;
}