<div id="form">
	<form id="ajax-contact-form" action="javascript:alert('success!');">
		<fieldset class="info_fieldset">
		<div id="fields">
			<label>Name</label><input class="textbox" type="text" name="name" value="" /><br />
			<label>E-Mail</label><input class="textbox" type="text" name="email" value="" /><br />
			<label>Subject</label><input class="textbox" type="text" name="subject" value="" /><br />
			<label>Message</label><textarea class="textbox2" name="message" rows="5" cols="25"></textarea><br />
			<label>&nbsp;</label><input class="button" type="image" src="assets/images/send.gif" id="submit" value="Send Message" />
		</div>
		</fieldset>
	</form>
</div>