<p class="footer">
	Copyright &copy; 2010 White Portfolio. All Rights Reserved. Made by <a href="http://www.mascaradesign.it">Mascara Design</a>
	for <a href="http://www.yourinspirationweb.com/en"> Your Inspiration Web.</a>
</p>