<!--TODO: put sections into partials-->
<!-- Preloader -->
	<div class="mask">
		<div class="loader-item fa fa-spin loader-color">
		</div>
	</div>
<!-- Preloader end -->

<!-- header  -->
<nav id="header">
    <ul id="navs" class="navone">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#service">Service</a></li>
        <li><a href="#skills">Skill</a></li> 
		<li><a href="#clients">Clients</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul><!-- navigation end -->

	<a id="open-nav" class="nav-half fa fa-bars"><span class="nav-menu">Menu</span>
	   	<i></i>
	</a>

</nav>
<!-- header end -->

<!-- Section : Home -->
  	<section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  		<div class="home-overlay">   
			<div class="container">
				<div class="col-md-12">

					<div class="logo"><img src="../../assets/images/logo.png" class="img-responsive" alt="logo"></div><!-- end .logo -->
					<div class="info">
						<h2>BENJAMIN C NELSON</h2>
						<h3>ENGINEER</h3>
					</div><!-- end .info -->

					<ul class="social">
				         <li><a class="twitter" href="#"></a></li>
				         <li><a class="facebook" href="#"></a></li>
				         <li><a class="dribble" href="#"></a></li>
				         <li><a class="linkedin" href="#"></a></li>
				         <li><a class="github" href="#"></a></li>
				         <li><a class="google" href="#"></a></li>
				        <!--  <li><a class="behance" href="#"></a></li>
				         <li><a class="forrst" href="#"></a></li>
				         <li><a class="lastfm" href="#"></a></li> -->
				         <!--li><a class="rss" href="#"></a></li>
				         <li><a class="instagram" href="#"></a></li>
				         <li><a class="vimeo" href="#"></a></li>
				         <li><a class="forrst" href="#"></a></li>
				         <li><a class="pinterest" href="#"></a></li>
				         <li><a class="skype" href="#"></a></li>
				         <li><a class="picassa" href="#"></a></li>
				         <li><a class="youtube" href="#"></a></li>
				         <li><a class="flickr" href="#"></a></li>
				         <li><a class="tumblr" href="#"></a></li>
				         <li><a class="blogger" href="#"></a></li>
				         <li><a class="delicious" href="#"></a></li>
				         <li><a class="digg" href="#"></a></li>
				         <li><a class="friendfeed" href="#"></a></li>
				         <li><a class="wordpress" href="#"></a></li>-->
				    </ul><!-- end .social -->
				</div><!-- end .col-md-12 -->
			</div><!-- end .cotainer -->

	        <div class="avatar-section">
	            <img src="http://placehold.it/450x450" class="img-responsive" alt="">
	        </div><!-- end .avatar-section -->
		</div><!-- end .home-overlay -->
	</section>
<!-- Section : Home end -->

<!-- Section : About -->
				<section id="about" class="section about-style1">
					<div class="container">

						<div class="section-title" >
							<h2>About me</h2>
							<span class="border"></span>
							<p>
								<span>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span>
							</p>
							<p>
								Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. 
							</p>
						</div><!-- end .section-title -->


						<div class="row">
							<div class="col-md-4">
								<div class="about-info">
									<div class="info-title">
										<p>Phone</p>
										<p>Email</p>
										<p>website</p>
										<p>Address</p>
									</div> <!-- end .info-title -->
									<div class="info-details">
										<p>: 4358509786</p>
										<p>: ben@bytenel.com</p>
										<p>: www.bytenel.com</p>
										<p>: 637 S 600 E<br>  Salt Lake City, Utah</p>
									</div><!-- end .info-details -->					
									<p class="about-signature">Ben Nelson</p>
									<a href="#" class="mt-button large btn"><i class="fa-download"></i><span>Download Resume</span></a>
								</div> <!-- end .about-info -->
							</div> <!-- end .col-md-4 -->
							<div class="col-md-8">
								<div class="about-extra">
									<h4>HOBBIES & INTERESTS</h4>
									<div class="about-extra-icon">
										<ul>
											<li>
												<p><i class="fa-gamepad"></i><br><span>Games</span></p>
											</li>
											<li>
												<p><i class="fa-headphones"></i><br><span>Music</span></p>
											</li>
											<li>
												<p><i class="fa-plane"></i><br><span>Travel</span></p>
											</li>
											<li>
												<p><i class="fa-beer"></i><br><span>Brewing</span></p>
											</li>
											<li>
												<p><i class="fa-video-camera"></i><br><span>Movies</span></p>
											</li>
											<li>
												<p><i class="fa-coffee"></i><br><span>Coffee</span></p>
											</li>
											<li>
												<p><i class="fa-rocket"></i><br><span>Science</span></p>
											</li>
											<li>
												<p><i class="fa-money"></i><br><span>Money</span></p>
											</li>											
										</ul>
									</div> <!-- end .about-extra-icon -->
								</div><!-- end .about-extra -->				
							</div><!-- end .col-md-8 -->	
						</div><!-- end .col-md-row -->


						<!--div class="row">
							<div class="col-md-6">
				                <a href="#" class="mt-button small outline">Small</a>
				                <br><br>            
				                <a href="#" class="mt-button medium outline">Medium</a>
				                <br><br>            
				                <a href="#" class="mt-button large outline">Largest</a>
							</div>
							<div class="col-md-6">
				                <a href="#" class="mt-button small outline rounded">Small</a>
				                <br><br>            
				                <a href="#" class="mt-button medium outline rounded">Medium</a>
				                <br><br>            
				                <a href="#" class="mt-button large outline rounded">Largest</a>
							</div>
						</div-->

					</div><!-- end .container -->
				</section>
<!-- Section : About end -->

<!-- Section : Resume -->
				<section id="resume" class="section">
					<div class="container">

						<div class="section-title">
							<h2>My resume</h2>
							<span class="border"></span>
						</div><!-- end .section-title -->
						
						<div class="row">
							<div class="col-md-12">
								<div class="timeline">

								<!-- Experience Timeline -->

									<div class="timeline-category exp-category">
										<a class="large bt-timeline">Experiences</a>
										<div class="timeline-category-icon">
											<div class="iconspace"><i class="fa-folder-open"></i></div>
										</div> <!-- /.timeline-category-icon end -->
									</div> <!-- /.timeline-category end -->
									<div class="col-md-6 timeline-post-left">
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>SENIOR DEVELOPER</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>SENIOR DEVELOPER</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->									
									</div> <!-- /.timeline-post-left end -->
									<div class="col-md-6 timeline-post-right">
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>SENIOR DEVELOPER</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>SENIOR DEVELOPER</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->
									</div> <!-- /.timeline-post-right end -->

								<!-- Experience Timeline  end -->

								<!-- Education Timeline -->
									<div class="timeline-category edu-cagegory">
										<a class="large bt-timeline">Education</a>
										<div class="timeline-category-icon">
											<div class="iconspace"><i class="fa-book"></i></div>
										</div> <!-- /.timeline-category-icon end -->
									</div> <!-- /.timeline-category end -->
									<div class="col-md-6 timeline-post-left">
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>Phd Computer Science</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->	
									</div> <!-- /.timeline-post-left end -->
									<div class="col-md-6 timeline-post-right">
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>University</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->
										<div class="timeline-post">											
											<div class="timeline-post-content-holder">
												<div class="timeline-post-icon"></div>
												<div class="timeline-post-title">
													<h4>High School</h4>
												</div>
												<div class="timeline-post-subtitle">
													<p><span>Company Name </span><span class="timeline-duration">2012 - Current</span></p>
												</div>
												<div class="timeline-post-content">
													<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.</p>
												</div>
											</div> <!-- /.timeline-post-content-holder end -->							
										</div> <!-- /.timeline-post end -->
									</div> <!-- /.timeline-post-right end -->

								<!-- Education Timeline -->

									<div class="timeline-end-icon"><span> <i class="fa-bookmark"></i></span></div>
								</div><!-- end .timeline -->
							</div><!-- end .col-md-12 -->

						</div><!-- end .row -->
					</div><!-- end .container -->					
				</section>
<!-- Section : Resume end -->

<!-- Section : Service -->
				<section id="service" class="section">
					<div class="container">

						<div class="section-title">
							<h2>My Services</h2>
							<span class="border"></span>
						</div><!-- end .section-title -->	

						<div class="row">

							<div class="col-md-6 left-service">

								<div class="service-box">
									<i class="service-icon fa-leaf"></i>
									<div class="service-content">
										<h3>Designing</h3>
										<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a</p>
									</div>
								</div><!-- end .service-box -->
								<div class="service-box">
									<i class="service-icon fa-bar-chart-o"></i>
									<div class="service-content">
										<h3>Analytics</h3>
										<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a</p>
									</div>
								</div><!-- end .service-box -->
							</div><!-- end .col-md-6 .left-service -->	

							<div class="col-md-6 right-service">

								<div class="service-box">
									<i class="service-icon fa-flask"></i>
									<div class="service-content">
										<h3>Developing</h3>
										<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a</p>
									</div>
								</div><!-- end .service-box -->
								<div class="service-box">
									<i class="service-icon fa-anchor"></i>
									<div class="service-content">
										<h3>Support</h3>
										<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a</p>
									</div>
								</div><!-- end .service-box -->

							</div><!-- end .col-md-6 .right-service -->
						</div><!-- end .row -->
					</div><!-- end .container -->
				</section>
<!-- Section : Service end -->

<!-- Section : skills -->
				<section id="skills" class="section">
					<div class="container">

						<div class="section-title">
							<h2>Skill</h2>
							<span class="border"></span>
						</div><!-- end .section-title -->



						<div class="row">

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="87"><p>87<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>HTML5/CSS3</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="75"><p>75<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>JAVASCRIPT</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="83"><p>83<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>WORDPRESS</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="69"><p>69<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>JOOMLA</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="100"><p>100<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>PHOTOSHOP</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="73"><p>73<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>ILLUSTRATOR</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="85"><p>85<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>INDESIGN</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

							<div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
								<div class="chart" data-percent="55"><p>55<sup>%</sup></p></div>
								<div class="skills-content">
									<h3>3D MAX</h3>
									<p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
								</div><!-- end .skils-content -->
							</div><!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

						</div><!-- end .row -->

					</div><!-- end .container -->
				</section>
<!-- Section : skills end-->

<!-- Section : clients -->
				<section id="clients" class="section">
					<div class="container">

						<div class="section-title">
							<h2>Clients</h2>
							<span class="border"></span>
						</div><!-- end .section-title -->

                        		<div class="row">
                        			<div id="testimonials"  class="owl-carousel owl-theme">
                        				<div class="item">
							                	<div class="box testimonials">
													<img src="http://placehold.it/120x120" alt="">
													<blockquote>
													<p>I'm selfish, impatient, and a little insecure. I make mistakes, I'm out of control, and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
													</blockquote>
													<div class="author">Marilyn Monroe - <a href="">WebSite</a></div>
												</div><!-- end .box .testimonials -->
										</div><!-- end .item -->	
                        				<div class="item">
							                	<div class="box testimonials">
													<img src="http://placehold.it/120x120" alt="">
													<blockquote>
													<p>There is darkness Everywhere! You are not the only one who has lost everything!</p>
													</blockquote>
													<div class="author">Author Name - <a href="">WebSite</a></div>
												</div><!-- end .box .testimonials -->
										</div><!-- end .item -->		
                        				<div class="item">
							                	<div class="box testimonials">
													<img src="http://placehold.it/120x120" alt="">
													<blockquote>
													<p>There is darkness Everywhere! You are not the only one who has lost everything!</p>
													</blockquote>
													<div class="author">Author Name - <a href="">WebSite</a></div>
												</div><!-- end .box .testimonials -->
										</div><!-- end .item -->		
                        				<div class="item">
							                	<div class="box testimonials">
													<img src="http://placehold.it/120x120" alt="">
													<blockquote>
													<p>There is darkness Everywhere! You are not the only one who has lost everything!</p>
													</blockquote>
													<div class="author">Author Name - <a href="">WebSite</a></div>
												</div><!-- end .box .testimonials -->
										</div><!-- end .item -->		

									</div><!-- end #testimonials -->		
                        		</div><!-- end .row -->
					</div><!-- end .container -->
				</section>
<!-- Section : Clients end-->

<!-- Section : Projects -->
<!-- TODO create projects section!


<!--Parallax Section -->
  	<div id="qoutes" class="parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  		<div class="parallax-overlay-2"> 
  			<div class="container">
					<div class="col-md-12">
					    <h1>"It’s art if it can’t be explained. It’s fashion if no one asks for an explanation. It’s design if it doesn’t need explanation."</h1>

					    <p>-Wouter Stokkel</p>
  					</div><!-- end .col-md-12 -->  				
  			</div><!-- end .container --> 
  		</div><!-- end .parallax-overlay-2 -->
 	</div>
<!-- Parallax Section End -->


<!-- Section : Contact -->
				<section id="contact" class="section">
					<div class="container">

						<div class="section-title">
							<h2>Contact me</h2>
							<span class="border"></span>
						</div><!-- end .section-title -->


						<div class="row">
							<div class="col-md-6">
								<h2>LET'S GET IN TOUCH</h2>
								<ul class="get_in">
									<li><i class="fa fa-envelope-o"></i><p>ben@bytenel.com</p></li>
									<li><i class="fa fa-phone"></i><p>4358509786</p></li>
									<li><i class="fa fa-map-marker"></i><p>637 S 600 E Salt Lake City, Utah</p></li>
								</ul><!-- end .get_in -->
                                <ul class="social">
                                  <li><a class="facebook" href="#"></a></li>
                                  <li><a class="twitter" href="#"></a></li>
                                  <li><a class="linkedin" href="#"></a></li>
                                  <li><a class="google" href="#"></a></li>
                                  <li><a class="github" href="#"></a></li>
                                  <li><a class="dribble" href="#"></a></li>
                                  <li><a class="instagram" href="#"></a></li>
                                  <li><a class="forrst" href="#"></a></li>
                                  <li><a class="skype" href="#"></a></li>
                                  <li><a class="tumblr" href="#"></a></li>
                                </ul><!-- end .social -->
							</div><!-- end .col-md-6 -->
							<div class="col-md-6">
								<h2>DROP ME A LINE</h2>
								<!-- contact from -->
								<form class="form" id="form" method="post" action="contact">
										<input type="text" name="name"  placeholder="Name" required/>
										<input type="text" name="email" placeholder="Email" required/>
										<textarea name="message" placeholder="Message" rows="8" ></textarea>
										<input type="submit" class="btn mt-button medium outline"  id="submit" value="Send Message">
								</form>
								<span class="sending">
									sending...
								</span><!-- end .sending -->
								<div class="mess center">
								</div><!-- end .mess .center -->	
							</div><!-- end .col-md-6 -->

							<div id="gmap" class="gmap col-md-12">
                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12089.296601820872!2d-111.87489879763193!3d40.754894751667614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f5421ecf65a5%3A0x70e72ff371e0e8c3!2s636+S+600+E%2C+Salt+Lake+City%2C+UT+84102!5e0!3m2!1sen!2sus!4v1424747639133" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
							</div><!-- end .gmap .col-md-12 -->

						</div><!-- end .row -->
					</div><!-- end .container -->
				</section>
<!-- Section : Contact end -->

<!-- Footer -->
			<footer>
                <!-- TODO: readd this when twitter is back up
		        <!--<div class="twitter-feed-section">-->
		            <!--<div class="container">-->
		                <!--<div class="row">-->
		                    <!--<div class="col-md-12">-->
		                        <!--<div class="twt-icon">-->
		                            <!--<i class="fa fa-twitter"></i>-->
		                        <!--</div>&lt;!&ndash; end .twt-icon &ndash;&gt;-->

		                        <!--<div class="twt-feed">-->
									<!--<div id="tweet-sroll-wrapper" class="clearfix">-->
									     <!--<div class="tweets-list-container"></div>-->
									<!--</div>&lt;!&ndash; end #tweet-scroll-wrapper &ndash;&gt;-->
								<!--</div>&lt;!&ndash; end .twt-feed &ndash;&gt;-->
		                    <!--</div>&lt;!&ndash; end .col-md-12 &ndash;&gt;-->
		                <!--</div>&lt;!&ndash; end .row &ndash;&gt;-->
		            <!--</div>&lt;!&ndash; end .container &ndash;&gt;-->
		        <!--</div>&lt;!&ndash; end .twitter-feed-section &ndash;&gt;-->

		        <div class="footer-bottom">
		        	<div class="container">
		        		<div class="row">

				  			<div class="col-md-6 col-xs-12">
		                    </div><!-- end .col-md-6 col-xs-12 -->

		        		</div><!-- end .row -->
		        	</div><!-- end .container -->
		        </div><!-- end .footer-bottom -->
			</footer>
<!-- Footer end -->

<!-- Scroll Top -->
  <a class="scroll-top" href="#" title="Scroll to top"><i class="fa-chevron-up"></i></a>
