<div id="main_content" ng-controller="main">
		<div class="row tile-wrapper">
 			 <div class="left-top-frame">
			 </div>

			 <div class="top-frame">
			 </div>

 			 <div class="right-top-frame">
			 </div>
			
		  	 <div class="left-center-frame">
			 </div>
				
			 <div class="center-frame">
			 </div>
			
			 <div class="right-center-frame">
			 </div>

			 <div class="left-frame">
			 </div>
			
			 <div class="bottom-frame">
			 </div>	
		
			 <div class="right-frame">
			 </div>
		</div>			
	
</div>