<!--TODO: put sections into partials-->
<!-- Preloader -->
<div class="mask">
  <div class="loader-item fa fa-spin loader-color">
  </div>
</div>
<!-- Preloader end -->

<!-- header  -->
<div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                       <a href="#service">Services</a>
                    </li>
                    <li>
                       <a href="#resume">Resume</a>
                    </li>
                    
                    <li>
                       <a href="/blog">Blog</a>
                    </li>
                    <li>
                       <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>


<!-- header end -->

<!-- Section : Home -->
<section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="home-overlay">
    <div class="container">
      <div class="col-md-12">

        <div class="info">
          <h2>BEN NELSON</h2>

          <h3>SOFTWARE ENGINEER</h3>
        </div>
        <!-- end .info -->
      </div>
      <!-- end .col-md-12 -->
    </div>
    <!-- end .cotainer -->
  </div>
  <!-- end .home-overlay -->
</section>
<!-- Section : Home end -->

<!-- Section : About -->
<section id="about" class="section about-style1">
  <div class="container">

    <div class="section-title">
      <h2>About me</h2>
      <span class="border"></span>

      <p>
            <span>I'm a software engineering unicorn. I love fullstack development, have a strong entrepreneurial spirit and good business sense.
              I love doing app development on both iOS and Android, discussing web standards at various user group meetings I get the chance to attend, and keep contemplating going back to school for yet one more degree.
              Gotta catch 'em all isn't limited to just Pokemon! After work I love working on Coursera courses for various different topics
              (currently taking an Android app dev class, a data mining course, a finance course and hopefully can take a cooking class at some point...a man's gotta eat!),
              working on Excersim.io and other fun coding challenge problems, painting, graphic design and getting full use out of my Railscast, Egghead.io and other code education tools.
            </span>
      </p>

      <p>
        I also have a number of other hobbies and interests outside of work such as skiing, brewing beer (I think I'll make a nice spring Lager next...), cooking (poorly! still need the class) and
        working through my expansive reading list! (Currently working on On The Road by Kerouac, Losing My Virginity by Richard Branson and Infinite Jest by David Foster Wallace)
      </p>
    </div>
    <!-- end .section-title -->


    <div class="row">
      <div class="col-md-4">
        <div class="about-info">
          <div class="info-title">
            <p>Phone</p>

            <p>Email</p>

            <p>Address</p>
          </div>
          <!-- end .info-title -->
          <div class="info-details">
            <p>: 4358509786</p>

            <p>: ben@bytenel.com</p>

            <p>Salt Lake City, Utah</p>
          </div>
          <!-- end .info-details -->
          <p class="about-signature">Ben Nelson</p>
          <a href="resume" class="mt-button large btn"><i class="fa-download"></i><span>Download Resume</span></a>
        </div>
        <!-- end .about-info -->
      </div>
      <!-- end .col-md-4 -->
      <div class="col-md-8">
        <div class="about-extra">
          <h4>HOBBIES & INTERESTS</h4>

          <div class="about-extra-icon">
            <ul>
              <li>
                <p><i class="fa-plane"></i><br><span>Travel</span></p>
              </li>
              <li>
                <p><i class="fa-beer"></i><br><span>Brewing</span></p>
              </li>
              <li>
                <p><i class="fa-gamepad"></i><br><span>Games</span></p>
              </li>
              <li>
                <p><i class="fa-headphones"></i><br><span>Music</span></p>
              </li>
              <li>
                <p><i class="fa-video-camera"></i><br><span>Movies</span></p>
              </li>
              <li>
                <p><i class="fa-coffee"></i><br><span>Coffee</span></p>
              </li>
              <li>
                <p><i class="fa-rocket"></i><br><span>Science</span></p>
              </li>
              <li>
                <p><i class="fa-money"></i><br><span>Finance</span></p>
              </li>
            </ul>
          </div>
          <!-- end .about-extra-icon -->
        </div>
        <!-- end .about-extra -->
      </div>
      <!-- end .col-md-8 -->
    </div>
    <!-- end .col-md-row -->


    <!--div class="row">
        <div class="col-md-6">
            <a href="#" class="mt-button small outline">Small</a>
            <br><br>
            <a href="#" class="mt-button medium outline">Medium</a>
            <br><br>
            <a href="#" class="mt-button large outline">Largest</a>
        </div>
        <div class="col-md-6">
            <a href="#" class="mt-button small outline rounded">Small</a>
            <br><br>
            <a href="#" class="mt-button medium outline rounded">Medium</a>
            <br><br>
            <a href="#" class="mt-button large outline rounded">Largest</a>
        </div>
    </div-->

  </div>
  <!-- end .container -->
</section>
<!-- Section : About end -->

<!-- Section : Resume -->
<section id="resume" class="section">
  <div class="container">

    <div class="section-title">
      <h2>My resume</h2>
      <span class="border"></span>
    </div>
    <!-- end .section-title -->

    <div class="row">
      <div class="col-md-12">
        <div class="timeline">

          <!-- Experience Timeline -->

          <div class="timeline-category exp-category">
            <a class="large bt-timeline">Experiences</a>

            <div class="timeline-category-icon">
              <div class="iconspace"><i class="fa-folder-open"></i></div>
            </div>
            <!-- /.timeline-category-icon end -->
          </div>
          <!-- /.timeline-category end -->
          <div class="col-md-6 timeline-post-left">
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SOFTWARE ENGINEER</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Health Catalyst</span><span class="timeline-duration">May 2013 - June 2014</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Built an enterprise data warehousing system with a team of developers and manual QA engineers. Created a platform in ASP.NET MVC 4 used to manage SQL Server jobs and browse and
                    manage the metadata database. Expanded functionality of an existing application to map database systems and flat files to a metadata database. All projects shipped on time and
                    under budget to each of our 10 client healthcare systems.
                  </p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>SOFTWARE ENGINEERING INTERN</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Boxworks Engineering, Inc.</span><span class="timeline-duration">May 2012 - January 2013</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Developed software in PHP for the materials handling industry, primarily assisted in converting legacy code from the in house language to PHP and developing data reporting screens
                    in PHP while interacting with a CTree database.
                  </p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->
          </div>
          <!-- /.timeline-post-left end -->

          <div class="col-md-6 timeline-post-right">
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>LEAD DEVELOPER</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Bookly, Inc. </span><span class="timeline-duration">March 2015 – January 2016</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>First engineering hire. Integrated an externally maintained software product platform into an in house development project. Developed the first product roadmap and hiring guidelines for engineering staff. Recruited, vetted and hired first engineering hires. Worked with and dismissed contracting teams. Conducted staff 1-1's, led and planned scrum team meetings. Completed feature and bug work in Ruby on Rails. Worked with external API’s and SDK’s to complete features. Helped negotiate product partnerships and set reasonable expectations for both parties.
                  </p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>CO-FOUNDER</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>VaultRMS, Inc. </span><span class="timeline-duration">June 2014 - January 2015</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>Headed product-engineering department, led development team in creating applications for police departments and first responders. Actively performed development on a Ruby on Rails
                    platform application with a front end in AngularJS supporting two police departments and a security group for one product and the MEAN stack built on top of Ionic for another.
                    Launched both products on time and under budget. Assisted in sales and marketing, performed cold calls and followed up on sales leads. Accelerated negotiations for seed series
                    funding that led to closing the round.</p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>TEACHING ASSISTANT</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>University of Utah School of Computing </span><span class="timeline-duration">January 2013 - May 2013</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Assisted with Professor Feifei Li's CS5530 – Database Systems course which was an undergraduate-level introduction to database systems and applications using databases. Held office
                    hours where I mentored students in many database and software engineering related topics. Graded papers, made and produced keys in LaTeX, and met with students for additional
                    assistance outside office hours. Topics included SQL, relational, ISAM, and NoSQL databases, data modeling, and more.
                  </p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->
          </div>
          <!-- /.timeline-post-right end -->

          <!-- Experience Timeline  end -->

          <!-- Education Timeline -->
          <div class="timeline-category edu-cagegory">
            <a class="large bt-timeline">Education</a>

            <div class="timeline-category-icon">
              <div class="iconspace"><i class="fa-book"></i></div>
            </div>
            <!-- /.timeline-category-icon end -->
          </div>
          <!-- /.timeline-category end -->
          <div class="col-md-6 timeline-post-left">
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>Tooele High School</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>High School Diploma</span><span class="timeline-duration">2006-2009</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Technology club, FBLA, and wrestling team member. Lettered in wrestling 3 years, took a great deal of college credit and AP courses. Enjoyed learning my first programming language
                    stack - HTML, CSS, JavaScript and PHP.
                  </p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->
          </div>
          <!-- /.timeline-post-left end -->
          <div class="col-md-6 timeline-post-right">
            <div class="timeline-post">
              <div class="timeline-post-content-holder">
                <div class="timeline-post-icon"></div>
                <div class="timeline-post-title">
                  <h4>University of Utah</h4>
                </div>
                <div class="timeline-post-subtitle">
                  <p><span>Bachelors of Science - Computer Science </span><span class="timeline-duration">2009 - 2013</span></p>
                </div>
                <div class="timeline-post-content">
                  <p>
                    Focused undergraduate education on strong software engineering and web development skills. Was heavily involved in data mining, natural language processing and database research as
                    an upperclassman. Built many large projects in teams of 4+ members and took several graduate level courses as an undergrad. Projects include a DNA and RNA generator that validated
                    genes to the BLAST database, a project correlating sentiment analysis of Twitter data with stock data, a capstone which was a Rails application engineered to help people learn, and
                    a coreference resolution processor. 3.151 GPA including graduate level courses.
                  </p>
                </div>
              </div>
              <!-- /.timeline-post-content-holder end -->
            </div>
            <!-- /.timeline-post end -->

          </div>
          <!-- /.timeline-post-right end -->

          <!-- Education Timeline -->

          <div class="timeline-end-icon"><span> <i class="fa-bookmark"></i></span></div>
        </div>
        <!-- end .timeline -->
      </div>
      <!-- end .col-md-12 -->

    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- Section : Resume end -->

<!-- Section : skills -->
<section id="skills" class="section">
  <div class="container">

    <div class="section-title">
      <h2>Skill</h2>
      <span class="border"></span>
    </div>
    <!-- end .section-title -->


    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="83"><p>83<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>JAVASCRIPT</h3>

          <p>I love JavaScript. Full stack JavaScript through Node is the way of the future.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="80"><p>80<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>RAILS</h3>

          <p>As soon as I discovered Ruby on Rails I never looked back.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="69"><p>69<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>C#</h3>

          <p>I've worked professionally in .NET shops before but I will be the first to admit it's not my best.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->

      <div class="col-xs-12 col-sm-6 col-md-3 chart-padding">
        <div class="chart" data-percent="70"><p>70<sup>%</sup></p></div>
        <div class="skills-content">
          <h3>PHP</h3>

          <p>First web dev language I learned, though I'm a bit rusty now.</p>
        </div>
        <!-- end .skils-content -->
      </div>
      <!-- end .col-xs-12 .col-sm-6 .col-md-3 .chart-padding -->
    </div>
    <!-- end .row -->

  </div>
  <!-- end .container -->
</section>
<!-- Section : skills end-->

<!-- Section : clients -->
<section id="clients" class="section">
  <div class="container">

    <div class="section-title">
      <h2>Clients</h2>
      <span class="border"></span>
    </div>
    <!-- end .section-title -->

    <div class="row">
      <div id="testimonials" class="owl-carousel owl-theme">
        <div class="item">
          <div class="box testimonials">
            <%= image_tag 'hoasmall.jpg' %>
            <blockquote>
              <p>
                I first met Ben during our final year at the University of Utah, working together on our senior capstone project.During the course of the year, Ben proved himself to be a dependable
                developer and teammate. He is a hard worker with excellent problem solving abilities and an inquisitive engineering mind, which is vital for any project. Our senior project was
                successful owing in large part to the great leadership and technical expertise Ben provided.
                Most importantly Ben is always an easygoing person. He is keenly devoted to his work, while also being enjoyable to be around. A rare talent that I believe makes him a perfect fit for
                any team.
              </p>
            </blockquote>
            <div class="author">Hoa Hoang - <a href="https://www.linkedin.com/profile/view?id=232327327&authToken=viYt">Linkedin</a></div>
          </div>
          <!-- end .box .testimonials -->
        </div>
        <!-- end .item -->
        <div class="item">
          <div class="box testimonials">
            <%= image_tag 'mikesmall.jpg' %>

            <blockquote>
              <p>I worked with Ben both academically and professionally. Together we worked on an NLP project at the University of Utah around co-reference resolution - essentially a way to detect
                when nouns in current sentences actually reference nouns in preceding sentences (Mary walks to the store. She loves doing that. She referencing Mary through agreement etc). Ben's
                contribution to this project were enormous, a lot of the scoring algorithm ideas were his as well as the coding. Our accuracy was in the top four in the class out of sixteen or
                seventeen teams.

                I also worked with Ben at Health Catalyst. He became a competent C# developer in very little time and adjusted to our code base well.

                I recommend Ben as an intelligent, effective developer who is great to work with.</p>
            </blockquote>
            <div class="author">Mike Roylance - <a href="https://www.linkedin.com/profile/view?id=138890424&authToken=rj3j">Linkedin</a></div>
          </div>
          <!-- end .box .testimonials -->
        </div>
        <!-- end .item -->
        <div class="item">
          <div class="box testimonials">
            <%= image_tag 'ryansmall.jpg' %>

            <blockquote>
              <p>A few years ago, a friend and I had an idea for a website business. We contacted a department at the University of Utah to solicit our need for a website developer. We met with a few
                different people and ended up choosing Ben, Tucker [McKnight] and Carlos [Brenneisen]. These three stood out to us the most because of their past work and apparent passion for website
                development and design. We also knew that they would be reliable and dependable.

                We met on a weekly basis to discuss our ideas for the website. Each time we met, Ben, Tucker [McKnight] and Carlos [Brenneisen] had made significant progress, and the development was
                always in line with our vision.

                We were very impressed with the final product. These three were great to work with, and we wouldn't hesitate to work with them again on future endeavors. </p>
            </blockquote>
            <div class="author">Ryan Harris- <a href="https://www.linkedin.com/profile/view?id=139882819&authType=name&authToken=KM8F&goback=">Linkedin</a></div>
          </div>
          <!-- end .box .testimonials -->
        </div>
        <!-- end .item -->
      </div>
      <!-- end #testimonials -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- Section : Clients end-->

<!-- Section : Projects -->
<!-- TODO create projects section!

<!-- Section : Contact -->
<section id="contact" class="section">
  <div class="container">

    <div class="section-title">
      <h2>Contact me</h2>
      <span class="border"></span>
    </div>
    <!-- end .section-title -->


    <div class="row">
      <div class="col-md-6">
        <h2>LET'S GET IN TOUCH</h2>
        <ul class="get_in">
          <li><i class="fa fa-envelope-o"></i>

            <p>ben@bytenel.com</p></li>
          <li><i class="fa fa-phone"></i>

            <p>4358509786</p></li>
          <li><i class="fa fa-map-marker"></i>

            <p>Salt Lake City, Utah</p></li>
        </ul>
        <!-- end .get_in -->
        <div class="col-md-6 col-xs-12">
          <ul class="social">
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100008322796682"></a></li>
            <li><a class="twitter" href="http://www.twitter.com/pro_prog"></a></li>
            <li><a class="icon-linkedin" href="https://www.linkedin.com/profile/view?id=112814006&trk=hp-identity-photo"></a></li>
            <li><a class="google" href="https://plus.google.com/u/0/103799899292111447242/posts"></a></li>
            <li><a class="github" href="http://github.com/bytenel"></a></li>
            <li><a class="dribble" href="http://www.dribble.com/bytenel"></a></li>
            <li><a class="instagram" href="https://instagram.com/4_dventure/"></a></li>
            <!--<li><a class="forrst" href="#"></a></li>-->
            <li><a class="tumblr" href="https://www.tumblr.com/blog/bytenel"></a></li>
          </ul>
          <!-- end .social -->
        </div>
        <!-- end .col-md-6 col-xs-12 -->
      </div>
      <!-- end .col-md-6 -->
      <div class="col-md-6">
        <h2>DROP ME A LINE</h2>
        <!-- contact from -->
        <form class="form" id="form" method="post" action="contact">
          <input type="text" name="name" placeholder="Name" required/>
          <input type="text" name="email" placeholder="Email" required/>
          <textarea name="message" placeholder="Message" rows="8"></textarea>
          <input type="submit" class="btn mt-button medium outline" id="submit" value="Send Message">
        </form>
								<span class="sending">
									sending...
								</span><!-- end .sending -->
        <div class="mess center">
        </div>
        <!-- end .mess .center -->
      </div>
      <!-- end .col-md-6 -->
    </div>
    <!-- end .row -->
  </div>
  <!-- end .container -->
</section>
<!-- Section : Contact end -->

<!-- Footer -->
<!--TODO: readd footer when twitter is up and can add more content to bottom section so it's not offputting-->
<!--<footer>-->
<!--&lt;!&ndash; TODO: readd this when twitter is back up-->
<!--&lt;!&ndash;<div class="twitter-feed-section">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="twt-icon">&ndash;&gt;-->
<!--&lt;!&ndash;<i class="fa fa-twitter"></i>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end .twt-icon &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;<div class="twt-feed">&ndash;&gt;-->
<!--&lt;!&ndash;<div id="tweet-sroll-wrapper" class="clearfix">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="tweets-list-container"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end #tweet-scroll-wrapper &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end .twt-feed &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end .col-md-12 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end .row &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end .container &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</div>&lt;!&ndash; end .twitter-feed-section &ndash;&gt;&ndash;&gt;-->

<!--<div class="footer-bottom">-->
<!--<div class="container">-->
<!--<div class="row">-->

<!--<div class="col-md-6 col-xs-12">-->
<!--</div>&lt;!&ndash; end .col-md-6 col-xs-12 &ndash;&gt;-->
<!--<div class="col-md-6 col-xs-12">-->
<!--<ul class="social">-->
<!--<li><a class="facebook" href="#"></a></li>-->
<!--<li><a class="twitter" href="#"></a></li>-->
<!--<li><a class="linkedin" href="#"></a></li>-->
<!--<li><a class="google" href="#"></a></li>-->
<!--<li><a class="github" href="#"></a></li>-->
<!--<li><a class="dribble" href="#"></a></li>-->
<!--<li><a class="instagram" href="#"></a></li>-->
<!--<li><a class="forrst" href="#"></a></li>-->
<!--<li><a class="skype" href="#"></a></li>-->
<!--<li><a class="tumblr" href="#"></a></li>-->
<!--</ul>&lt;!&ndash; end .social &ndash;&gt;-->
<!--</div>&lt;!&ndash; end .col-md-6 col-xs-12 &ndash;&gt;-->
<!--</div>&lt;!&ndash; end .row &ndash;&gt;-->
<!--</div>&lt;!&ndash; end .container &ndash;&gt;-->
<!--</div>&lt;!&ndash; end .footer-bottom &ndash;&gt;-->
<!--</footer>-->
<!-- Footer end -->

<!-- Scroll Top -->
<a class="scroll-top" href="#" title="Scroll to top"><i class="fa-chevron-up"></i></a>

<!--TODO change job descriptions from standard resume to something more candid and intimate. -->