<div id="main_content" class="container-fluid" ng-controller="main">
		<div class="row tile-wrapper">
 			 <div class="left-top-frame">
			 </div>

			 <div class="top-frame">
			 </div>

 			 <div class="right-top-frame">
			 </div>
			
			 <div class="center-frame">
				<%= image_tag "me.jpg", :class => "my-image" %>
			 </div>
	
			 <div class="left-frame">
			 </div>
	
			 <div class="right-frame">
			 </div>
			 
			 <div class="bottom-frame">
			 </div>
		</div>			
		<div class="row">
			<div class="col-lg-12">	
				<%= render partial: "partials/contact" %>
			</div>
		</div>
</div>