<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <title>
	  Ben Nelson - Software Engineer 
  </title>

 <meta name="author" content="Ben Nelson" />
 <meta name="keywords" content="software engineer" />
 <meta name="description" content="Portfolio for a software engineer." />
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<%= yield %>

</body>
</html>
